/*********[FONT]*********/

@import url("https://use.typekit.net/crh7ebc.css");

/* @font-face {
            font-family: 'futura-pt', sans-serif;
            src: url("https://use.typekit.net/crh7ebc.css");
        } */


/*****[RESTYLE TAG]*****/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 20px;
    color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    padding-bottom: 50px;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    font-size: 34px;
}

h3 {
    font-weight: 700;
    font-size: 30px;
}

h4 {
    font-weight: 600;
    font-size: 28px;
}

h5 {
    font-weight: 400;
    font-size: 20px;
    /* padding-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100% !important;
    background-color: #3f3e3e;
    color: rgb(255, 255, 255);
    margin-bottom: 0px !important; */
    margin-bottom: 0px !important;
}

h6 {
    font-weight: 600;
    font-size: 22px;
}

p,
a {
    font-family: sans-serif;
}

p {
    font-weight: 400;
    font-size: 20px;
}

a,
a:hover,
a:focus {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

hr.hrC {
    border: .5px solid #d2d2d2!important;
    margin: 10px 0;
}

.addC {
    color: #ee171e;
}

.delC {
    color: #ee171e;
    float: right;
}


/*danger alert, login*/

.alert {
    margin: 0 auto;
    padding: 0 5px;
    width: 60%;
}

.alert>label {
    margin: 10px;
}

.btn {
    margin-right: 5px;
    margin-left: 5px;
}

.bg-redflip-red {
    background-color: #ee171e;
}

.bg-redflip-redB {
    background-color: #d31118;
}

.bg-redflip-cyan {
    background-color: #1bd3d7;
}

.bg-redflip-black {
    background-color: #404040;
}

.bg-redflip-white {
    background-color: #fff;
}

.bg-redflip-grey {
    background-color: #929191;
}

.bg-redflip-yellow {
    background-color: #f5c951;
}

.bg-redflip-orange {
    background-color: #f88d3c;
}

.bg-redflip-whatsapp {
    background-color: #25d366;
}

.bg-redflip-turquoise {
    background-color: #00979C;
}

.bg-redflip-darkgrey {
    background-color: #6b6b6b;
}

.bg-redflip-green {
    background-color: #f5c951;
}

.bg-redflip-form {
    background-color: #27AE60;
}

.c-redflip-red {
    color: #ee171e!important;
}

.c-redflip-cyan {
    color: #1bd3d7!important;
}

.c-redflip-black {
    color: #404040!important;
}

.c-redflip-white {
    color: #fff!important;
}

.c-redflip-grey {
    color: #e0e0e0!important;
}

.bg-redflip-black:hover {
    color: #ee171e;
}

.fa-pacman {
    background-image: url(../img/pacman.svg);
    background-repeat: no-repeat;
    width: 24px;
}

.form-group {
    margin-bottom: 0!important;
}

svg>g>path {
    display: none;
}

svg>g>circle {
    display: none;
}

.fa-circle {
    margin-right: 15px;
}

.ci-red {
    color: red;
    border: 2px solid black;
    border-radius: 10px;
}

.ci-yel {
    color: #e9bd15;
    border: 2px solid black;
    border-radius: 10px;
}

.ci-red2 {
    color: red;
    border: none;
    border-radius: 10px;
}

.ci-yellow {
    color: #e9bd15;
    border: none;
    border-radius: 10px;
}

.ci-dGre {
    color: #929191;
    border: none;
    border-radius: 10px;
}

.ci-cyan {
    color: #1bd3d7;
    border: none;
    border-radius: 10px;
}

.ci-green {
    color: #27AE60;
    border: none;
    border-radius: 10px;
}

.ci-gre {
    color: rgb(238, 235, 230);
    border: 2px solid black;
    border-radius: 10px;
}

.mtb-20 {
    padding: 0;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    margin: 0;
}

.mtb-50 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px!important;
}

.mt-40 {
    margin-top: 40px!important;
}

.pb-5px {
    padding-bottom: 5px;
}


/* select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    } */

.select-container,
.selectDivisa-container,
.selectEst-container,
.selectCom-container,
.selectBod-container,
.selectPag-containerIF,
.selectPag-container {
    position: relative;
    display: inline;
}


/*     
    .select-container:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .selectDivisa-container:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .selectEst-container:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .selectBod-container:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .selectCom-container:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .selectPag-container:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .selectPag-containerIF:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .select-container:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: .5em;
        left: 490px;
        border-top: 8px solid black;
        opacity: 0.5;
    }
    
    .selectDivisa-container:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: .5em;
        left: 80px;
        border-top: 8px solid black;
        opacity: 0.5;
    }
    
    .selectEst-container:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: .5em;
        left: 284px;
        border-top: 8px solid black;
        opacity: 0.5;
    }
    
    .selectBod-container:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: -9.5em;
        left: 354px;
        border-top: 8px solid black;
        opacity: 0.5;
    }
    
    .selectCom-container:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: .5em;
        left: 195px;
        border-top: 8px solid black;
        opacity: 0.5;
    }
    
    .selectPag-container:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: .5em;
        left: 170px;
        border-top: 8px solid black;
        opacity: 0.5;
    }
    
    .selectPag-containerIF:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: .5em;
        left: 220px;
        border-top: 8px solid black;
        opacity: 0.5;
    } */

select::-ms-expand {
    display: none;
}

select>option {
    position: relative;
    z-index: -1!important;
}


/****** END - RESTE ***********************************************************************************************************/


/*[NAVBAR]*/

.nav-redflip-brand {
    margin: 0 5px;
}

.navbar {
    padding: 0 10px;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 10;
}

.logoNav {
    width: 150px;
}


/*[SIDEBAR STYLE]*/

.btn-nav {
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
}


/****** END - HEADER ****************************************************************************************************************/


/*IMG left*/

#leftSideImg {
    background-image: url(../img/couple3.jpeg);
    background-position: 60% 30%;
    background-size: 200%;
    background-repeat: no-repeat;
}


/*FORM*/

#login-cont .container {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.form-container {
    width: 100%;
    height: 100vh;
}

.login {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 15%;
}


/*logo*/

.logo-form {
    width: 100%;
    height: 100px;
    background-image: url(../img/Logo-Redflip-Sin-Borde.png);
    background-size: 60%;
    background-repeat: no-repeat;
    position: relative;
    background-position: 50% 0;
    margin-bottom: 20px;
}

label.welcome-usr {
    font-size: 20px;
    margin: 0 auto;
    color: #fff;
    width: auto;
    height: auto;
}


/*form-lbl/in*/

.label-login {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    margin-left: 20%;
    margin-top: 10px;
}

.input-login {
    width: 60%;
    height: 45px;
    border: 1px solid #4d4d4dbd;
    border-radius: 30px;
    padding: 0 2%;
    margin-left: 19%;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type=text],
input[type=password] {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    color: #428487;
    font-weight: 400;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus,
input[type=password]:focus {
    border: 1px solid #424242;
    color: #424242;
    font-weight: 500;
}

input[type=password] {
    font: small-caption;
    font-size: 20px;
}


/*link fpass*/

.forgotPasswordLink>a {
    width: 80%;
    ;
    font-size: 18px;
    font-weight: 500;
    color: #ee171e;
}


/*btn-login*/

.btn-def {
    width: 60%;
    margin: 0 20%;
    padding: 5px 10px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}

.btn-action {
    width: 100px;
    margin: 5px;
    padding: 2px 5px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}

.btn-acciones {
    border: none;
    color: white;
}

.btn-red {
    background-color: #ee171e;
    border: 1px solid #ee171e;
    margin-bottom: 1em;
}


/*Filtros*/

.h3-prop {
    text-align: center;
    width: 100%;
    padding: 0 0 0 10px;
}

.pad-0 {
    padding: 0;
}

.inEx-img {
    width: 36px;
}

.btn-Imex {
    width: 45%;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
    border-radius: 15px;
    border: none;
}

.filtro {
    vertical-align: middle;
    border: 2px solid #2c2c2c;
    border-radius: 5px;
    background-color: #fff;
    z-index: 5;
}

.filtroW1 {
    width: 70%;
}

.filtroW2 {
    width: 45%;
}

.filtroW3 {
    width: 30%;
}

.filtroW4 {
    width: 22.5%;
}

.btn-filt {
    width: 90%;
    margin: 5px;
    padding: 2px 5px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}

.selectFase {
    border: 2px solid #2c2c2c;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}


/* **[HOME PAGE]** */

.btn-home {
    background-color: #404040;
    color: white!important;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 5px solid #ee171e;
    margin: 20px!important;
    width: 320px!important;
}

label.btn-home:hover>a,
label.btn-home:hover>h4,
label.btn-home:hover>p {
    transition: all .5s ease-in-out;
    color: #404040!important;
}

.btn-home:hover {
    transition: all .5s ease-in-out;
    background-color: rgba(235, 235, 235, 0.329);
    border-bottom: 5px solid #428487;
}


/*NUEVO PROPIETARIO*/

.containerPropietario {
    box-shadow: 0 0 12px 0 #2c2c2c;
    margin: 0% auto;
    border-radius: 15px;
    padding: 50px;
    z-index: 1;
    height: 650px;
}

.containerEdit {
    box-shadow: 0 0 12px 0 #2c2c2c;
    margin: 0% auto;
    border-radius: 15px;
    padding: 50px;
    z-index: 1;
}

.imgFondo {
    width: 100%;
    min-height: 500px;
    background-image: url(../img/save2.png);
    background-size: 125%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.imgFondoP {
    width: 100%;
    min-height: 500px;
    background-image: url(../img/staying.svg);
    background-size: 125%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

@media (min-width:996px) {
    .containerPropietario {
        margin: 5% auto;
    }
    .imgFondo,
    .imgFondoP {
        margin: 25% 0;
    }
}

@media (max-width:996px) {
    .imgFondo,
    .imgFondoP {
        display: none!important;
    }
}


/* [CIRCULO] */

.circulo {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #ec5d62e1;
    border: 4px solid #ffffff85;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: .8%
}

.circulo>p {
    font-family: sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


/*Prop vs propiedades*/


/* .tab-pvpActivo{
    margin-left: -5%!important;
} */


/* .table {
    margin: 0 auto;
    width: 95%;
    margin-bottom: 150px;
    table-layout: fixed;
}

.table td,
.table th {
    padding: 0.3%;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    font-size: 14px;
    overflow-x: scroll;
}

.table td::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.table th::-webkit-scrollbar {
    width: 0;
    height: 0;
} */

.center-tab {
    text-align: center;
}

input[type="text"]#search {
    width: 100%;
    border: none;
    border-bottom: 2px solid #2c2c2c;
}

input[type="text"]#search:focus {
    border: none;
    border-bottom: 1px solid #424242;
    color: #424242;
    font-weight: 500;
}

.upArch {
    width: 0.1px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upLbl {
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
}


/****** END - FORM *******************************************************************************************************************/

.editProp {
    padding: 3%;
    margin: 10px 0;
    border: none;
    border: .5px solid rgba(121, 121, 121, 0.5);
    border-radius: 5px 80px 80px 5px;
    background-color: rgba(242, 242, 243, 0.856);
}

.editProp:hover,
.editPropA:hover {
    background-color: rgb(239, 241, 255);
    outline: none;
    border-color: rgb(173, 168, 243);
}

.editProp:focus,
.editPropA:focus {
    background-color: rgb(239, 241, 255);
    outline: none;
    border: 2px solid rgb(173, 168, 243);
}

.editPropA {
    padding: 3%;
    margin: 10px 0;
    border: none;
    border: .5px solid rgba(121, 121, 121, 0.5);
    border-radius: 80px 5px 5px 80px;
    background-color: rgba(242, 242, 243, 0.856);
}

select.selectEditProp {
    width: 100%;
    outline: none;
    color: #428487;
    background-color: #fff;
    font-weight: 400;
    border: 1px solid #DDDDDD;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}


/* **[NO TA S]** */

#calendar {
    max-width: 900px;
    margin: 40px auto;
}

#notas {
    width: 100%;
    min-height: 500px;
    background-color: #ece3b1;
}

textarea {
    outline: none;
    color: #404040;
    font-weight: 400;
    font-size: 24px;
}


/*[ CA LEN DAR .IO]*/

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0em!important;
}

.fc-button-primary {
    background-color: #d31118!important;
    border-color: #d31118!important;
}


/***[FOOTER]***/

.footer {
    background-color: #404040;
    color: #fff;
    width: 100%;
    height: auto;
    text-align: center;
    bottom: 0px !important;
    position: fixed;
    margin-top: 100px;
    z-index: 10;
}

.sub-footer {
    background-color: #303030;
    bottom: 0px !important;
}

.sub-footer>p {
    font-size: 16px;
    margin: 0;
}

.sub-footer>a {
    font-size: 16px;
    color: #e0e0e0;
    margin: 0;
}

@media (max-width:1200px) {
    .large-only {
        display: none;
    }
    .nav-redflip-brand {
        width: 160px
    }
}

section {
    padding-left: 60px;
}

div#datos {
    padding-left: 60px;
}


/* .infoVal{
    background-color: rgba(87, 82, 82, 0.521);
    padding:0px!important;
    margin:0px;
    border-bottom: 5px solid #ee171e;
}

.infoVal:hover{
    background-color: rgba(40, 40, 40, 0.151);
    border-bottom: 5px solid #428487;
}

h4.info{
    padding:0;
    margin:0;
    font-size:28px;
    display: inline;
}
#uf, #dolar, #ipc, #utm{
    font-size:24px;
    margin:0;
}

a.infoMas{
    width:100%;
    color:#fff!important;
    font-weight: 200;
} */


/***[SWAL-FIRE!]***/

.swal2-icon {
    margin: 0 auto;
    margin-bottom: 1em!important;
}

.swal2-question {
    font-family: 'open-sans', sans-serif!important;
}

.swal2-title {
    font-size: 26px!important;
}

.swal2-input {
    height: 1.8em!important;
}

div.swal2-actions {
    margin: 0!important;
}

button.swal2-styled {
    padding: 5px 30px!important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    /* -webkit-appearance: none; */
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.contact {
    width: 90px!important;
}

.number {
    width: 20px!important;
    border: 2px solid #444;
    border-radius: 5px;
    margin-left: 5px;
}


/**********************************************/


/* - - - - - - - - FORMULARIO - - - - - - - - */


/**********************************************/


/* BARRA DE PROGRESO */


/************* formulario *************/

#formC {
    margin: 50px auto;
    margin-top: 0;
    padding: 80px 10px;
    padding-top: 100px;
    position: relative;
}


/************* fieldset *************/

#formC fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    /*stacking fieldsets above each other*/
    position: relative;
}


/*Hide all except first fieldset*/

#formC fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#formC input[type="text"],

/* #formC input[type="number"], */

input[type="mail"],
input[type="date"],
input[type="tel"],
input[type="number"].fs-tNumb,
#formC textarea,
#formC select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    font-family: sans-serif;
}

.fs-contribucion {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 30% !important;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    font-family: sans-serif;
}


/* Dropdown button */

.btn-dropdown {
    color: #2C3E50;
    background-color: #fff;
    border-color: lightgrey;
    font-size: 13px;
    font-family: sans-serif;
}


/* input[type="number"].fs-tNumb {
        -webkit-appearance: none;
    } */

#formC input[type="checkbox"] {
    font-size: 12px;
}

#formC .fs-nom,
.fs-ape,
.fs-rut,
.fs-ori,
.fs-tipoOpe {
    width: 100%!important;
}

#formC .fs-valor {
    width: 75.5%;
}

#formC .fs-divisa {
    width: 28.5%;
}

#formC select.fs-suFono {
    width: 35%;
}

#formC .fs-fono {
    width: 60%;
}

#formC .fs-label {
    display: inline;
    color: #2C3E50;
    font-size: 16px;
    padding: 15px;
    display: inline;
    padding: 15px;
}

#formC .fs-chk {
    text-align: left;
    margin-right: 5px;
}


/* #formC .fs-table {
    width: 100%;
} */

#formC .fs-td {
    padding: 0 15px 15px 15px;
    margin-bottom: 10px;
    color: #2C3E50;
    font-size: 16px;
}

#formC .fs-td2 {
    padding: 0 15px;
}

#formC select.fs-vaDivisa {
    width: 22%;
}

#formC select.fs-comuna {
    width: 100%!important;
}

#formC .fs-calle {
    width: 53.5%!important;
}

#formC .fs-numb {
    width: 20.5%!important;
}

#formC .fs-letra {
    width: 20%!important;
}

.fs-construccion {
    width: 49%!important;
}

#formC .fs-condominio {
    width: 49.5%;
}

#formC .fs-estSub {
    width: 62%;
}

#formC .fs-alterSelect {
    padding: 5px!important;
}

#formC .fs-numEstSub {
    width: 11%!important;
}

#formC .fs-numBodSub {
    width: 24%!important;
}

#formC .fs-bodSub {
    width: 72.5%;
}

#formC .fs-bodSub10 {
    width: 71%;
}

#formC .fs-estSub10 {
    width: 60%;
}

li>.fs-nomC {
    width: 49.5%!important;
}

li>.fs-fonoC {
    width: 49.5%;
}

#formC select.paginacion {
    width: 37%;
    padding: 10px 15px!important;
    border-radius: 0px!important;
}

#formC select.paginacionIF {
    margin-left: 50px;
}

@media (max-width:574px) {
    #formC select.paginacion {
        width: 100%!important;
    }
}

#formC .cogPag {
    width: 45px;
    background: #EE171E;
    font-weight: 400!important;
    color: white;
    border: 0 none;
    border-radius: 1px;
    padding: 10px 5px;
    margin: 0 auto;
}


/* ***********Checkbox************* */


/* The container */

.fs-chkLbl {
    display: inline;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.fs-chkLbl input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #dadada;
}


/* On mouse-over, add a grey background color */

.fs-chkLbl:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.fs-chkLbl input:checked~.checkmark {
    background-color: #EE171E;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.fs-chkLbl input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.fs-chkLbl .checkmark:after {
    left: 6px;
    top: 0px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* ******************************** */

.txtProp {
    font-size: 16px;
    margin: 0!important;
    padding: 0!important;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}


/***************switch***************/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    left: 0px;
    bottom: 0px;
    background-color: #ee505b;
    -webkit-transition: .4s;
    transition: .4s;
}


/* input:checked+.slider {
    background-color: #EE171E;
}

input:focus+.slider {
    box-shadow: 0 0 1px #EE171E;
} */

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 3px;
}

.slider.round:before {
    border-radius: 3px;
}


/* ****************************************** */


/*buttons*/

#formC .action-button {
    width: 100px;
    background: #EE171E;
    font-weight: 400!important;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px;
    margin-top: 40px;
    margin-right: 5px;
    outline: none;
}

#formC .save {
    float: right;
}

#formC .action-button:hover,
#formC .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #EE171E;
    outline: none;
}

#formC .action-button:active {
    outline: none;
}


/*headings*/

.fs-title {
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #2C3E50;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.fs-subtitle {
    font-weight: 600;
    font-size: 16px;
    color: #9c9c9c;
    text-align: center;
    margin: 4px auto;
    padding-bottom: 10px;
}

.label_titulo {
    display: inline-block;
    margin-bottom: .1rem;
    font-size: 14px;
    font-weight: 600;
}


/************* progressbar *************/

#progressBar {
    margin-top: -50px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    width: 100%;
    padding-top: 80px;
}

#progressBar>li {
    padding: 15px;
}

#progressBar li {
    list-style-type: none;
    color: rgb(17, 2, 2);
    text-transform: uppercase;
    font-size: 16px;
    width: 33.33%;
    float: left;
    position: relative;
    text-align: center;
}

#progressBar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    line-height: 30px;
    display: block;
    font-size: 14px;
    color: #111;
    background: rgb(212, 212, 212);
    border-radius: 50px;
    margin: 0 auto 5px auto;
}


/*progressbar connectorafters*/

#progressBar li:after {
    content: '';
    width: 100%;
    height: 5px;
    background: rgb(212, 212, 212);
    position: absolute;
    left: -50%;
    top: 28px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressBar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressBar li.active:before,
#progressBar li.active:after {
    background: #EE171E;
    color: white;
    font-weight: 600;
}


/* FICHA FORMULARIO*/

.fichaFormLbl {
    margin-bottom: 0px;
}


/* .tableFichaForm,
.thFichaForm,
.trFichaForm,
.tdFichaForm {
    border: 1px solid black;
} */


/* .tableLine{
    border-bottom: 4px solid black;
  } */

.tableFichaForm {
    margin: 10px 0;
    margin-bottom: 30px;
    width: 100%;
}

.thFichaForm {
    padding: 10px 0;
    text-transform: uppercase;
    color: rgb(246, 246, 246);
    background-color: #ee171e!important;
}

.trFichaForm {
    height: 35px;
    vertical-align: middle;
}

.tdTitulo {
    width: 250px;
    padding-left: 10px;
    font-weight: 600;
    background-color: #f0f0f0;
}


/* FORM LIST - MIS FORMULARIOS */

.rectangle-list {
    counter-reset: li;
    /* Initiate a counter */
    list-style: none;
    /* Remove default numbering */
    list-style: decimal;
    /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    overflow: hidden;
    margin-bottom: 150px;
}


/* ol ol {
     margin: 0 0 0 2em; */


/* Add some left margin for inner lists */


/* } */

.rectangle-list .listForm {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #eee;
    color: #000;
    text-decoration: none;
    transition: all .3s ease-out;
}

.overflow {
    width: 650px;
    overflow: hidden!important;
    overflow-x: scroll;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    overflow-wrap: break-word;
    margin-bottom: 0;
    color: #040404;
    font-size: 14px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width:769px) and (max-width:998px) {
    .overflow {
        width: 650px;
    }
}

.rectangle-list .listForm:hover {
    background: #ddd;
}

.rectangle-list .listForm:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #EE171E;
    color: #FFFFFF;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}


/* .rectangle-list .listForm:after {
        position: absolute;
        content: '';
        border: .5em solid transparent;
        left: -1em;
        top: 50%;
        margin-top: -.5em;
        transition: all .3s ease-out;
    } */


/* .rectangle-list .listForm:hover:after {
        left: -.5em;
        border-left-color: #EE171E;
    } */

.fr-l {
    margin: 0 3px;
    float: right;
}

.overflow::-webkit-scrollbar {
    width: 0;
    height: 0;
}

fieldset {
    position: relative!important;
}


/* [RESPONSIVE] */


/* ============================================================= */


/* [320] */

@media (max-width:320px) {
    section {
        padding-left: 0;
    }
    .btn-home {
        margin: 10px 0!important;
        padding: 1em;
        text-transform: capitalize;
    }
    .containerPropietario {
        margin-left: 0%!important;
        padding: 40px 20px;
    }
    div#datos {
        padding-left: 0px!important;
    }
    /* .table{
        width:92%!important;
    } */
    .btn-filt {
        width: 100%!important;
        margin: 5px 0px!important;
    }
    .btn-Imex {
        width: 49%!important;
    }
    .filtroW4 {
        width: 49%!important;
    }
    #progressBar {
        margin-top: -100px;
    }
    #progressBar>li {
        padding: 15px;
        text-transform: inherit;
    }
    #formC fieldset {
        margin-top: 0px;
        padding: 20px 12px!important;
    }
    #formC .fs-estSub {
        width: 45%!important;
    }
    /* .selectEst-container:after {
            left: 95px!important;
        } */
    .slider {
        top: 11px!important;
        bottom: 0px!important;
    }
    .fs-14 {
        font-size: 12px!important;
    }
    /* #formC .select-container:after {
            left: 216px;
        }
        #formC .selectCom-container:after {
            left: 70px;
        } */
    #estacionamientos {
        font-size: 14px!important;
    }
    #formC .fs-estSub {
        width: 45%!important;
    }
    /* .selectEst-container:after {
            left: 95px!important;
        } */
    .overflow {
        width: 250px!important;
    }
    .infoVal {
        width: 100%!important;
    }
    .sub-footer>p {
        font-size: 12px;
    }
    .rectangle-list .listForm:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -2.5em;
        top: 50%;
        margin-top: -1em;
        background: #EE171E;
        color: #FFFFFF;
        height: 2em;
        width: 2em;
        line-height: 2em;
        text-align: center;
        font-weight: bold;
        visibility: hidden;
    }
    .rectangle-list .listForm {
        position: relative;
        display: block;
        padding: .4em .4em .4em .8em;
        margin: 0em;
        background: #eee;
        color: #000;
        text-decoration: none;
        transition: all .3s ease-out;
    }
}


/* [576] */

@media (max-width:576px) {
    .logo-form {
        height: 60px;
    }
    section {
        padding-left: 0px;
    }
    .containerPropietario {
        margin: 5% auto;
        box-shadow: none;
        border-radius: 0;
        margin-left: 10%;
    }
    .containerPropietario {
        margin-left: 0%!important;
        padding: 40px 20px;
    }
    div#datos {
        padding-left: 0px!important;
    }
    .tdProp {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 120px;
        margin-left: 160px;
        overflow-wrap: break-word;
    }
    .tdProp:before {
        position: absolute;
        left: 6px;
        width: auto;
        padding-right: 40px;
        white-space: nowrap;
        margin-left: -150px;
    }
    .btn-filt {
        width: 100%!important;
        margin: 5px 0px!important;
    }
    .btn-Imex {
        width: 49%!important;
    }
    .filtroW4 {
        width: 49%!important;
    }
    #progressBar {
        margin-top: -100px;
    }
    #progressBar>li {
        padding: 15px;
        text-transform: inherit;
    }
    #formC fieldset {
        margin-top: 0px;
        padding: 20px 12px!important;
    }
    #formC .fs-estSub {
        width: 45%!important;
    }
    /* #formC .selectEst-container:after {
            left: 95px!important;
        } */
    .slider {
        top: 11px!important;
        bottom: 0px!important;
    }
    .fs-14 {
        font-size: 12px!important;
    }
    /* #formC .select-container:after {
            left: 270px!important;
        } */
    #formC select.paginacionIF {
        margin-left: 0px!important;
    }
    /* #formC .selectCom-container:after {
            left: 100px;
        } */
    #estacionamientos {
        font-size: 14px!important;
    }
    #formC .fs-estSub {
        width: 45%!important;
    }
    /* #formC .selectEst-container:after {
            left: 95px!important;
        } */
    div>ol>li>.fs-nomC {
        width: 100%!important;
    }
    div>ol>li>.fs-fonoC {
        width: 100%;
    }
    .ci-mob {
        margin-left: 10%;
    }
    .overflow {
        width: 450px;
    }
    .infoVal {
        width: 100%!important;
    }
    .sub-footer>p {
        font-size: 12px;
    }
}

@media (max-width:576px) {
    #formC {
        width: 100%;
        margin-bottom: 150px;
        padding: 0;
        font-size: 14px;
    }
    #progressBar {
        width: 100%!important;
        padding-top: 60px!important;
        margin: 0 auto;
        padding-left: 0px;
    }
    #progressBar li {
        font-size: 14px!important;
    }
    #formC .action-button {
        width: 45.4%!important;
    }
    #formC .save {
        /* width: 100%!important; */
        float: none!important;
    }
    .fs-title {
        font-size: 18px!important;
    }
    .fs-subtitle {
        font-size: 16px!important;
    }
    .fs-14 {
        font-size: 14px;
    }
    #formC .fs-fono,
    .fs-valor {
        width: 64%!important;
    }
    #formC select.fs-suFono,
    .fs-divisa {
        width: 34%!important;
    }
    #formC .fs-calle {
        width: 52%!important;
    }
    #formC .fs-numb {
        width: 24%!important;
    }
    #formC .fs-letra {
        width: 20%!important;
    }
    #formC .fs-bodSub {
        width: 67%!important;
    }
    #formC .fs-estSub {
        width: 42%!important;
    }
    #formC .fs-estSub10 {
        width: 38%!important;
    }
    #formC .fs-bodSub10 {
        width: 64%!important;
    }
    #formC .fs-numEstSub {
        width: 9%!important;
    }
    #formC select.paginacionIF {
        margin-left: 0px!important;
    }
    .fs-td {
        padding: 0 0 2px 12px!important;
        font-size: 14px!important;
    }
    .fs-td2 {
        padding: 0 12px!important;
        font-size: 14px!important;
    }
    .checkmark {
        width: 15px!important;
        height: 15px!important;
    }
    .checkmark::after {
        left: 4px!important;
        width: 6px!important;
        height: 12px!important;
    }
    .fs-chkLbl {
        font-size: 14px!important;
        padding-left: 20px;
    }
    .txtProp {
        font-size: 12px;
    }
    .switch {
        width: 42px!important;
    }
    .switch input {
        height: 26px!important;
    }
    .slider {
        top: 0px!important;
        bottom: 11px!important;
    }
    .slider:before {
        height: 15px!important;
        width: 15px!important;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(18px)!important;
        -ms-transform: translateX(18px)!important;
        transform: translateX(18px)!important;
    }
    /* .selectBod-container:after {
            left: 200px;
            top: -7.5em;
        }
        .selectCom-container:after {
            left: 90px;
        } */
    #formC input[type="text"],
    input[type="mail"],
    input[type="date"],
    input[type="tel"],
    input[type="number"].fs-tNumb,
    #formC textarea,
    #formC select {
        font-size: 14px!important;
    }
}


/* [768] */

@media (max-width:768px) {
    .h3-prop {
        font-size: 26px;
    }
    .logo-form {
        height: 120px;
    }
    .welcome-usr {
        display: none;
    }
    /* section {
        padding-left: 0px;
    } */
    #progressBar {
        width: 100%!important;
    }
    #progressBar>li {
        padding: 15px;
        text-transform: inherit;
    }
    #formC fieldset {
        margin-top: 0px;
        padding: 20px 12px!important;
    }
    /* .select-container:after {
            left: 520px;
        } */
    #formC select.paginacion {
        margin-left: 2%;
    }
    #formC select.paginacionIF {
        margin-left: 12%;
    }
    .infoVal {
        width: 100%!important;
    }
}

@media (max-width:768px) {
    h4.info {
        font-size: 14px;
    }
    #uf,
    #dolar,
    #ipc,
    #utm {
        font-size: 12px;
        margin: 0;
    }
    .infoVal {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
    /* .infoMas{
        display: none;
    } */
}

@media only screen and (min-width:577px) and (max-width:768px) {
    .overflow {
        width: 450px;
    }
}

@media(max-width:768px) {
    .navbar-toggler {
        padding: .25rem .75rem!important;
        font-size: 1.25rem!important;
        line-height: 1!important;
    }
}

@media (max-width:769px) {
    .btn-home {
        margin: 20px 0!important;
        width: 250px!important;
        padding: 1em 1.5em;
    }
    /* .selectPag-container:after {
            left: 230px;
        } */
}


/* [992] */

@media only screen and (min-width:769px) and (max-width:992px) {
    .logoNav {
        width: 100px;
    }
    .btn-nav {
        padding: 3px 10px
    }
    .r-usser {
        display: none;
    }
    .login {
        margin-top: 40%;
    }
    .login {
        width: 100%;
        transform: translateY(0%);
    }
    #leftSideImg {
        display: none;
    }
    .filtroW1 {
        width: 95%;
    }
    .filtroW2 {
        width: 48%;
    }
    .filtroW3 {
        width: 32%;
    }
    .filtroW4 {
        width: 45%;
    }
    .btn-filt {
        width: 95%;
    }
    .upLbl {
        width: 100%!important;
        margin: 0;
    }
    .btn-Imex {
        width: 42%;
    }
    div#datos {
        padding-left: 0px!important;
    }
    .tabOri {
        width: 50px;
        text-align: center;
    }
    .tabCont {
        width: 80px;
    }
    .tabNom {
        width: 100px;
    }
    .tabApe {
        width: 120px;
    }
    .tabTel {
        width: 110px;
    }
    .tabMail {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .tabDir {
        width: 200px;
    }
    .tabCom {
        width: 90px;
    }
    .tabOp {
        width: 80px
    }
    .tabPr {
        width: 120px;
    }
    .tabSt {
        width: 90px;
    }
    .tabEst {
        width: 80px;
    }
    .tabFas {
        width: 115px;
    }
    .tabDias {
        width: 50px;
    }
    .tabAcc {
        width: 110px;
    }
    .pb-10 {
        padding-bottom: 10px!important;
    }
    input[type="text"]#search {
        width: 100%;
        margin: 5% 0;
    }
    .editProp,
    .editPropA {
        border-radius: 5px;
    }
    /* .table td, .table th{text-align: left;} */
}

@media only screen and (min-width:992px) and (max-width:1300px) {
    #leftSideImg {
        background-size: 250%;
    }
}

@media(max-width:992px) {
    #leftSideImg {
        display: none;
    }
}

@media print {
    .btnOc {
        display: none!important;
    }
}


/* table.orientacion{ 
    width: 100.8%;
    margin: -0.4%;
    height: 40px;
    margin-bottom: -0.4%;
    margin-right:0.4%;
} */

.tabOri {
    width: 50px;
    text-align: center;
}

.tabCont {
    width: 80px;
}

.tabNom {
    width: 100px;
}

.tabApe {
    width: 120px;
}

.tabTel {
    width: 110px;
}

.tabMail {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabDir {
    width: 200px;
}

.tabCom {
    width: 90px;
}

.tabOp {
    width: 80px
}

.tabPr {
    width: 120px;
}

.tabSt {
    width: 90px;
}

.tabEst {
    width: 80px;
}

.tabFas {
    width: 115px;
}

.tabDias {
    width: 50px;
}

.tabAcc {
    width: 110px;
}


/* Estilo nuevo  tablas *parte 5000* */

.sticky-uwu {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 15px;
}

#tabla_mixta td {
    padding: 0px 17px!important;
}

#tabla_mixta tr:hover {
    background-color: rgba(23, 163, 184, 0.2);
}

#tabla_mixta th {
    padding: 5px 17px!important;
}

table {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
}

.contacto {
    width: 100%;
    display: inline-flex;
}

.contacto>select {
    width: 75%;
}

.contacto>input[type="number"] {
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 12px!important;
    min-width: 46px;
    max-width: 46px;
}

.btn-r {
    border: 2px solid #333;
}

.tabPre {
    font-family: sans-serif;
    font-size: 12px;
}

.tabPre>a {
    font-family: sans-serif;
    font-size: 12px;
}

.selectFase {
    font-size: 12px!important;
    min-width: 200px;
    max-width: 200px;
}

.selectFaseContacto {
    font-size: 12px!important;
    min-width: 150px;
    max-width: 150px;
    background-color: #fff;
}

.table td,
.table th {
    vertical-align: middle!important;
}

.tab-center {
    text-align: center;
}

tr>td>pre {
    vertical-align: middle!important;
    margin: 0!important;
}

@media (min-width:3000px) {
    .fa-1600 {
        width: 150px;
    }
    .table-responsive {
        display: table!important;
    }
    .contacto {
        width: 100%;
        display: inline-flex;
    }
    .contacto>select {
        width: 75%;
    }
    .contacto>input[type="number"] {
        width: 25%;
        border: 2px solid #333;
        border-radius: 5px;
    }
}

@media(min-width:769px) {
    section>.table {
        margin-left: 60px;
        width: 90% !important;
    }
}

@media only screen and (min-width:577px) and (max-width:768px) {
    section>.table {
        margin-left: 60px;
        width: 90%;
    }
}

@media (max-width:576px) {
    h3.h3-prop {
        margin-top: 50px;
        padding-bottom: 0!important;
    }
    table>thead>tr>th {
        font-size: 16px;
        font-weight: 500;
        vertical-align: middle;
    }
}

.tbl-display {
    display: none!important;
}


/* MATCH */

.pl-60 {
    padding-left: 60px;
}

.match-legend {
    border-bottom: 2px solid #ee171e;
    width: auto;
}

.container-match {
    width: 100%;
    height: 520px;
    /* border: 1px solid #666; */
}

.match-title {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    font-weight: 400;
}

.match-list {
    background-color: #e0e0e0;
    height: 90px;
    overflow-y: scroll;
}

.match-input {
    color: black !important;
    background: transparent;
    border: none!important;
    width: 80%;
}


/* estilo de match en index */

.match-privado {
    width: 265px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: solid 1px grey; */
    /* border-radius: 1px; */
    margin-left: auto;
}

.match-privado::-webkit-scrollbar {
    width: 0;
    height: 0;
}


/* interesado */

.badge-secondary {
    background-color: #b7b7b7 !important;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* Estilos de Gabo UwU */

.basic-margin-gabo {
    padding-top: 100px;
    padding-left: 60px;
}

.fono-float-right {
    float: right;
}

.fono-float-none {
    float: none;
}

.hr-divisor-switch {
    width: 100%;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: none;
}

.bodyModal {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tablaModal {
    background-color: #FFFFFF;
}

.boton-wsp:hover {
    font-size: 20px !important;
}

.modal-header {
    padding-bottom: 0 !important;
}

h5.modal-title {
    padding-bottom: 20px !important;
    font-weight: 600;
}

.modal-content {
    margin-top: 50%;
}

td>pre>a:hover {
    text-decoration: underline rgba(23, 163, 184, 0.7);
    color: rgba(23, 163, 184, 0.7);
}


/* Fin de los estilos de gabo UWU */


/* estilo samuel uwu */

.bSP1 {
    width: 100%;
    color: blue !important;
    height: 200px;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 50px;
}

.bSP2 {
    width: 100%;
    color: green !important;
    height: 200px;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 50px;
}

.bSP3 {
    width: 100%;
    color: red !important;
    height: 200px;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 50px;
}

.bSP4 {
    width: 100%;
    color: blueviolet !important;
    height: 200px;
    border: 2px solid;
    border-radius: 5px;
}

.bSP5 {
    width: 100%;
    color: brown !important;
    height: 200px;
    border: 2px solid;
    border-radius: 5px;
}

.bSP6 {
    width: 100%;
    color: skyblue !important;
    height: 200px;
    border: 2px solid;
    border-radius: 5px;
}

.bSP7 {
    width: 100%;
    color: goldenrod !important;
    height: 200px;
    border: 2px solid;
    border-radius: 5px;
}

.labelC {
    width: 100%;
    font-size: 50px;
    text-align: center;
    padding-top: 15%;
}

.btnVenta {
    width: 100%;
    color: red !important;
    height: 200px;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    padding-top: 30%;
}

.btnCerrar {
    color: red !important;
}


/* fieldsets cubitos */

#formCasa fieldset {
    /* background: white; */
    /* border: 0 none; */
    /* border-radius: 3px; */
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3); */
    /* padding: 20px 30px; */
    /* box-sizing: border-box; */
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    /*stacking fieldsets above each other*/
    position: relative;
}


/*Hide all except first fieldset*/

#formCasa fieldset:not(:first-of-type) {
    display: none;
}


/* fin fieldsets cubitos */

#formOperacion fieldset {
    /* background: white; */
    /* border: 0 none; */
    /* border-radius: 3px; */
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3); */
    /* padding: 20px 30px; */
    /* box-sizing: border-box; */
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    /*stacking fieldsets above each other*/
    position: relative;
}


/*Hide all except first fieldset*/

#formOperacion fieldset:not(:first-of-type) {
    display: none;
}

.card-header {
    font-family: sans-serif;
    height: 80px;
    background-color: #e0e0e0 !important;
    border: solid #85888a 1px;
}

.card-body {
    font-family: sans-serif;
    height: 135px;
    padding: 0%;
}


/* Radio color rojo */

.radio-group {
    margin-bottom: 10px;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="radio"]:not(:checked)+span,
[type="radio"]:checked+span {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after {
    border: 2px solid #5a5a5a;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
}

[type="radio"]+span:before,
[type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

[type="radio"]:not(:checked)+span:after {
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after {
    border: 2px solid #5a5a5a;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
}

[type="radio"]+span:before,
[type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #ee171e;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
}

[type="radio"].with-gap:checked+span:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #ee171e;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #ee171e;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
}

[type="radio"]:checked+span:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

[type="radio"]+span:before,
[type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}


/* Fin radio color rojo  */

.card {
    border: none;
}

.scroll {
    /* max-height: 100px; */
    overflow-y: scroll;
}


/* .cf {
    border: 1px solid grey;
    border-radius: 20px;
} */

.card .ct-chart {
    margin: 30px 0px 30px;
    height: 240px;
}

.ct-perfect-fourth {
    display: block;
    position: relative;
    width: 100%;
}

.btn-match {
    width: 80px;
    height: 40px;
    border: none;
    position: absolute;
    top: 80%;
    right: 30%;
    color: white;
}

.title-grafico {
    font-family: sans-serif;
    font-size: 24px;
    padding: 0%;
    border-radius: 0px;
    color: white;
    background-color: #212529 !important;
}

.table-min {
    min-height: 300px;
}


/* ************************* */


/* ESTILOS INDEX MATCH  DARYL*/


/* ************************* */

.h3-match {
    line-height: 2;
    color: #676a6c;
}

.p-subMatch {
    color: #a0a0a0;
    border-top: 1px solid #e7eaec;
    font-size-adjust: 20px;
    text-align: initial;
}

.label-match {
    font-size: 14px;
    color: #2c2c2c;
}

.table-match {
    text-align: initial;
    border-top: 1px solid #e7eaec;
}

.thead-match {
    border-bottom: 2px solid #e7eaec;
}

.tr-matchHead {
    font-size: 16px;
}

.tr-matchBody {
    padding: 8px;
    font-size: 14px;
    border-top: 1px solid #e7eaec;
}

.tr-matchBody:hover {
    background-color: rgba(23, 163, 184, 0.2);
    color: black;
}

.tr-matchBody:focus {
    background-color: rgba(23, 163, 184, 0.2);
    color: black;
    outline: none;
}

.btn-matchGreen {
    background-color: #4CAF50;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    padding: 3px 8px;
    border-radius: 5px;
}

.btn-matchGreen:hover {
    color: #fff;
    font-size: 14px;
    background-color: #409443;
}

.btn-matchGreen:focus {
    color: #fff;
    font-size: 14px;
    background-color: #409443;
}

.btn-matchBlue {
    background-color: #09aadb !important;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    padding: 3px 8px;
    border-radius: 5px;
    white-space: unset!important;
}

.btn-matchBlue:hover {
    color: #fff;
    font-size: 14px;
    background-color: #05789c;
}

.btn-matchBlue:focus {
    color: #fff;
    font-size: 14px;
    background-color: #05789c;
}

.btn-matchRed {
    background-color: #e8505b;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    padding: 3px 8px;
    border-radius: 5px;
    white-space: unset!important;
}

.btn-matchRed:hover {
    color: #fff;
    font-size: 14px;
    background-color: #b84049;
}

.btn-matchRed:focus {
    color: #fff;
    font-size: 14px;
    background-color: #b84049;
}

@media only screen and (min-width:577px) and (max-width:1024px) {
    .container-md {
        padding-left: 60px;
    }
}

.hr-match {
    border: 1px solid #ddd!important;
}

.btn-matchArchivos {
    width: 100%;
    font-size: 16px;
    text-align: initial;
    color: #2c2c2c;
    border: none;
    background: transparent;
    border-top: 1px solid #e7eaec;
}

.btn-matchArchivos:hover {
    background-color: rgba(23, 163, 184, 0.2);
    color: black;
}

.btn-matchArchivos:focus {
    background-color: rgba(23, 163, 184, 0.2);
    color: black;
    outline: none;
}

.acordeon-matchArchivos {
    padding: 8px 10px;
    font-size: 14px;
    background-color: #eee;
}

.acordeon-matchArchivos:hover {
    padding: 8px 10px;
    background-color: #ddd;
    font-size: 14px;
    font-weight: 400;
}

.acordeon-matchArchivos:active {
    font-size: 14px;
    color: #6ec3be;
}

.acordeon-matchArchivos:visited {
    font-size: 14px;
    color: #6ec3be;
}

.acordeon-matchArchivos:focus {
    font-size: 14px;
    color: #6ec3be;
}

.scroll-matchArchivos {
    max-height: 307px;
    overflow-y: scroll;
}

.container-matchCol {
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 20px;
    background: white !important;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}


/* ***************************** */


/* FIN ESTILOS INDEX MATCH  DARYL*/


/* ----------------------------- */


/* **ESTILOS DOCUMENTOS DARYL ** */


/* ***************************** */

.formDoc {
    padding: 30px;
}

.documentBox {
    position: relative;
    margin-bottom: 45px;
}

.documentBox>input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none!important;
    border-bottom: 1px solid #757575!important;
    background-color: transparent;
    color: #424242!important;
}

.documentBox>input:focus {
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
}


/* LABEL ======================================= */

.documentBox>label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

.documentBox>input:focus~label,
.documentBox>input:valid~label,
.documentBox>.selectLabel {
    top: -20px;
    font-size: 14px;
    color: #434343;
    font-weight: 600;
}


/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #E8505B;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active state */

.documentBox>input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}


/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

.documentBox>input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.ddlDoc {
    background: #e8505b;
    color: #fff;
    font-size: 14px;
    padding: 5px 8px;
    /* padding-right: 2.5em; */
    border: 0;
    margin: 0;
    border-radius: 5px;
    text-indent: 0.01px;
    /* font-weight: 600;     */
}

select.ddlDoc:focus,
select.ddlDoc:hover {
    outline: none;
    background-color: #d64a53;
}

select.ddlDoc>option {
    background-color: #eee;
    color: #424242;
    border: 0;
}


/* SOBRE CLASE */

.list-group-item {
    padding: .2rem .8rem;
    margin-bottom: 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e7eaec;
}

.textarea-match {
    width: 100%;
    font-size: 20px;
    border: none;
    background: #eee;
}

ol.match-lista {
    list-style-type: none;
    padding-left: 0;
}

ol.match-lista>li {
    counter-increment: step-counter;
    margin: 5px 0 .5em;
    padding-left: 45px;
    position: relative;
    line-height: 1.58;
}

ol.match-lista>li:before {
    background-color: #e8505b;
    border-radius: 10%;
    color: #fff;
    content: counter(step-counter);
    font-size: 60%;
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    left: 0;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* ESTILOS MATCH SAMUEL */

.match-title {
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}

.header-interesado {
    background-color: #3c3c3c !important;
    margin-top: 20px;
}

.card-match {
    width: 100%;
    height: 260px;
}

.titulo-match {
    color: white;
    padding-top: initial;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 700;
}

.body-interesado {
    border: 1px solid lightgrey;
    padding-top: 20px;
    padding-left: 10px;
    padding: 0 auto;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
}

.interesado-input {
    font-size: 18px;
    font-weight: 400 !important;
    font-family: sans-serif;
    color: black !important;
    border: none !important;
}

.env-msj {
    margin-top: 0px;
}

.img-gmail {
    width: 40px;
    padding-right: 10px;
}

.btn-gmail {
    background-color: #D44638;
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 60px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.btn-gmail:hover {
    background-color: #B23121;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.img-wtsp {
    width: 40px;
    padding-right: 10px;
}

.btn-wtsp {
    background-color: #25D366;
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 60px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.btn-wtsp:hover {
    background-color: #128C7E;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.center {
    text-align: center;
}

.columna-img {
    height: 650px;
}

.product-card {
    margin-right: 100px;
    margin-left: 100px;
}

.img-container {
    background-size: cover;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.container-info {
    background-color: white;
    padding-bottom: 20px;
    width: 100%;
}

.badge-match {
    float: right;
    margin-right: 30%;
    background-color: #b7b7b7 !important;
}

.descartar-match {
    float: right;
    margin-right: 10%;
}


/* Fin de estilo Samuel uwu */

.carousel-control-prev,
.carousel-control-next {
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: calc(50% - 1em);
}

.contador {
    float: left;
}

.badge-venta,
.badge-arriendo,
.badge-match {
    color: white;
    font-size: 22px;
    font-weight: 400;
}

@media only screen and (min-width:769px) and (max-width:992px) {
    .img-container {
        height: 400px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        top: calc(50% + 1em);
    }
    .btn-gmail,
    .btn-wtsp {
        width: 40%;
    }
}

@media only screen and (min-width:577px) and (max-width:768px) {
    #match {
        padding-left: 60px!important;
    }
    .img-container {
        height: 300px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        top: calc(50% - 2em);
    }
    .btn-gmail,
    .btn-wtsp {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:576px) {
    #master {
        padding-top: 60px!important;
    }
    .h3-match {
        font-size: 26px;
        line-height: 1;
    }
    .img-container {
        height: 190px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 40px;
        height: 40px;
        top: calc(50% + 1em);
        margin-left: -15px;
        margin-right: -15px;
    }
    .ul-match {
        font-size: 16px;
    }
    .badge-venta,
    .badge-arriendo,
    .badge-match,
    .marcar-enviar {
        font-size: 18px;
    }
    .interesado-match {
        font-size: 16px;
    }
    .btn-gmail,
    .btn-wtsp {
        width: 100%;
        margin-bottom: 20px;
    }
}


/* FIN ESTILOS DARYL MATCHd */


/* ESTILO TABLA MATCH DARYL */

.minW-tableMatch1 {
    min-width: 20px;
}

.minW-tableMatch2 {
    min-width: 80px;
}

.minW-tableMatch3 {
    min-width: 130px;
}

.minW-tableMatch4 {
    min-width: 22px;
}

.minW-tableMatch5 {
    min-width: 77px;
}

.minW-tableMatch6 {
    min-width: 100px;
}

.minW-tableMatch7 {
    min-width: 300px;
}

@media (max-width:992px) {
    .table-match {
        overflow-x: scroll;
    }
}


/* FIN ESTILO TABLA MATCH */


/* arreglo thead tabla uwu */

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    position: sticky;
    position: -webkit-sticky;
    /* top: 0; */
    /* width: 100%; */
    top: 65px !important;
    z-index: 12;
}

.table-responsive {
    display: unset !important;
    width: 100%;
    overflow-x: unset !important;
}

.formulario-usuario {
    margin-top: 70px;
}