 /*********[INDEX]*********/
 /* 1.- FONT
 /* 2.- RESTYLE TAG
 /* 3.- HEADER
 /* 	3.1.- NAVBAR
 /*     3.2- SIDEBAR STYLE 
 /* 4.- LOGIN
 /*     4.1- LOGIN IMAGE LEFT-SIDE
 /*     4.2.- FORM STYLE
 /* 5.- RESTABLECER CONTRASEÑA
 /* 6.- CRM
 /*     6.1.- AGREGAR PROPIEDADES
 /*************************/
 
 /*********[FONT]*********/
 @import url("https://use.typekit.net/crh7ebc.css");
 @font-face {
    font-family: 'futura-pt',sans-serif;
    src: url("https://use.typekit.net/crh7ebc.css");
}
 /*****[RESTYLE TAG]*****/
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    width:100%;
    height:100%;
    font-family:'futura-pt',sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'futura-pt',sans-serif;
    padding-bottom:50px;
}
h1{
    font-weight: 700;
    font-size: 40px;
}
h2{
    font-weight: 700;
    font-size: 34px;
}
h3{
    font-weight: 700;
    font-size: 30px;
}
h4{
    font-weight: 600;
    font-size: 28px;
}
h5{
    font-weight: 600;
    font-size: 24px;
}
h6{
    font-weight: 600;
    font-size: 22px;
}

p,a{
    font-family:'futura-pt',sans-serif;}
p{
    font-weight: 400;
    font-size: 20px;
}

a, a:hover, a:focus{
    color: #000;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
/*danger alert, login*/
.alert{
    margin: 0 auto;
    padding: 0 5px;
    width:60%;
}

.alert > label{
    margin: 10px;
}

.btn{
    margin-right: 5px;
    margin-left: 5px;
}

.bg-redflip-red{background-color: #ee171e;}
.bg-redflip-cyan{background-color: #1bd3d7;}
.bg-redflip-black{background-color: #404040;}
.bg-redflip-white{background-color: #fff;}
.bg-redflip-grey{background-color: #e0e0e0;}

.c-redflip-red{color:#ee171e!important;}
.c-redflip-cyan{color:#1bd3d7!important;}
.c-redflip-black{color:#404040!important;}
.c-redflip-white{color:#fff!important;}
.c-redflip-grey{color:#e0e0e0!important;}

/**********[HEADER]**********/
/*[NAVBAR]*/
.nav-redflip-brand{
    margin: 0 15px;
}

.navbar{
    padding: 0 15px;
    border:none;
    border-radius: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    position:fixed;
    width:100%;
    z-index:1;
}

.img-logo{
    margin:0;
}

@media (min-width:1200px){
    .nav-logoRed{
        margin-right:900px;
    }
}

.nav-logoRedB{
    width:100px;
}
@media (min-width:768px){
    .nav-logoRedB{
        width:200px;
    }
}
/*[SIDEBAR STYLE]*/
.text-sidebar{
    color:#404040;;
}
.text-sidebar:hover{
    color:#1db3d7;
    background-color: #404040;
    transition-duration: 0.5s;
}

.wrapper {
    width: 100%;
    height:15px;
  }
  
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    z-index:1;
    margin-left:-250px;
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.2);
    position: fixed;
    margin-top:74px;
  }

  #sidebar.active {
    margin-left: 0px;
  }
  
  #sidebar .sidebar-header {
    padding: 20px;
    background: #ee171e;
  }
  
  #sidebar ul.components {
    padding: 20px 0;

  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  
  #sidebar ul li a:hover {
    color: #00e2e9;
    background: #404040;
  }
  
  #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #ee171e;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
.img-usr{
    width:50px;
}

/**[LOGIN IMAGE LEFT-SIDE]**/
.image{
    background-image: url(../img/couple3.jpeg);
    background-position: 60% 30%;
    background-size: 180%;  
    background-repeat: no-repeat;
}

@media (max-width:992px){
    .image{ display:none;}
}

@media (max-width:1024px){
    .image{
    background-size: 300%;  

    }
}

/**[FORM STYLE]**/
.login{
    width:100%;
    height:50%;
    margin-top:40%;
}

@media only screen and (min-width:768px) and (max-width:992px){
    .login{
        margin: 30% 30%;
        }
}

.logo-form{
    width:60%;
    height: 100px;
    background-image: url(../img/Logo-Redflip-Sin-Borde.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    top: 0px;
    position: relative;
}

.campo{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal; 
    margin-left: 20%;
    margin-top: 20px;
    font-size: 20px;
    
}

.fPass > a{
    width: 80%;;
    font-size: 18px;
    font-weight: 500;
    color:#ee171e;
}

.in-login{
    width: 60%;
    height:40px;
    border: 1px solid #707070;
    border-radius:30px;
    padding: 0 2%;
    margin-left: 20%;
}

.btn-def{
    width:60%;
    margin: 0 20%;
    padding: 5px 10px;
    color: #fff;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size:20px;
    border-radius: 15px;
}

.btn-form{
    width:30%;
    margin:0 15%;
    padding: 5px 10px;
    color: #fff;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size:20px;
    border-radius: 15px;
}

.btn-login{
    background-color: #ee171e;
    border: 1px solid #ee171e;
    margin-bottom: 1em;
}

.l1{
    margin-left:20%;
}
label.between-line{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size:20px;
    text-align: center;
}

.btn-loginG{
    background-color: #D44638;
    border: 1px solid #D44638;
    margin-top: 1em;
}
.btn-loginO{
    background-color:#0072C6;
    border: 1px solid #0072C6;
}

.alLog{
    width:60%;
    height:auto;
    margin: 0 auto;
    padding:0px 5px;;
    margin-top:1%;
}

/**[RESTABLECER CONTRASEÑA]**/
.center{
    width:50%;
    margin: 0 auto;
    align-content:center;
    margin-top:100px;
}
@media (max-width:991px){
    .center{
        width:100%;
    }
}

.logo-form-fPass{
    background-image: url(../img/Logo-Redflip-Sin-Borde.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}
@media (min-width:992px){
    .logo-form-fPass{
        width:40%;
        height:130px;
    }
}

@media (max-width:991px){
    .logo-form-fPass{
        width:50%;
        height:100px;
    }
}

@media (max-width: 767px){
    .logo-form-fPass{
        width:70%;
        height:80px;
    }
}

.h4-fPass{
    text-align: center;
    width:100%;
    font-size:34px;
}

@media (max-width:767px){
    .h4-fPass{
        font-size:26px;
    }
}

.p-fPass{
    width:40%;
    margin: 0 auto;
}

@media (max-width:991px){
    .p-fPass{
        width:50%;
    }
}

@media (max-width:575px){
    .p-fPass{
        width:80%;
    }
}

#form-fPass{
    margin: 0 auto;
    align-content: center;
    width:40%;
}
@media (max-width:767px){
    #form-fPass{
        width:90%;
    }
}

.correo-fPass{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 20px;
    margin-top:1em;
}
.in-fPass{
    width: 100%;
    height:40px;
    border: 1px solid #707070;
    border-radius:30px;
    padding: 0 2%;
}

.btn-fPass{
    background-color: #ee171e;
    border: 1px solid #ee171e;
    width:100%;
    margin: 0;

}

.toLogin{
    width:100%;
    text-align: center;

}

/***********[CRM]***********/
/***[AGREGAR PROPIETARIO]***/
.cont-prop{
    margin-top:50px;
    margin-bottom:150px;
}
.h3-prop{
    text-align:zz center;
}

.form-control{
    border-radius: 30px;
    width:60%;
}

.container-tab{
    margin-right: 10%;
    margin-left: 10%;
    width:50%;
}

select{
    width:60%;

}

input[type=text], input[type=password], textarea {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    color: #428487;
    font-weight: 400;
    border: 1px solid #DDDDDD;
  }
   
  input[type=text]:focus, input[type=password]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(0, 210, 217, 1);
    border: 1px solid rgba(0, 210, 217, 1);
    color: #428487;
    font-weight: 500;
  }

  @media (min-width:1200px){
    .th-cabecera{display:none;}
  }

  @media (max-width:1200px){
    .large-only{display:none;}
    .welcome-usr{display:none;}
    .nav-redflip-brand{width:160px }
  }
/*PROPIOETARIOS*/
.container-prop{
    text-align: center;
    margin:50px auto;
}

.h3-prop{
    text-align: center;
    width:100%;
    margin-top:100px;
}
.bg-turquoise{background-color: #00979C;}
.bg-darkgrey{background-color: #6b6b6b;}
.bg-green{background-color: green;}
.btn-action{
    width:100px;
    margin: 5px;
    padding: 2px 5px;
    color: #fff;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size:16px;
    border-radius: 15px;
    border:none;
}

.table{
    margin:0 auto;
    width:95%;
    margin-bottom: 150px;
}

 .table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    font-size: 16px;
}

@media(max-width:992px){
    .table td, .table th{
        text-align: left;
    }
}

.center-tab{
    text-align: center;
}

.st-head-row{
    background-color:#212529;
}

.st-head-row-main{
    display:none;
}
/***[FOOTER]***/
.footer{
    background-color: #404040;
    color:#fff;
    width:100%;
    height:auto;
    text-align:center;
    bottom:0px !important;
    position:fixed;
    margin-top:100px;
}

.sub-footer{
    background-color: #303030;
}

.sub-footer > p{
    font-size: 16px;
    margin:0;
}

.sub-footer > a{
    font-size: 16px;
    color:#e0e0e0;
    margin:0;
}