@import url("https://use.typekit.net/crh7ebc.css");
@font-face {
   font-family: 'futura-pt',sans-serif;
   src: url("https://use.typekit.net/crh7ebc.css");
}
/************[SVG GOOEY HOVER MENU CONCEPT]************/
#menu {
  height: 100%;
  position: fixed;
  background-color: #404040;
  width: 320px;
  transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100%);
  left: 60px;
  z-index: 9;
  font-family:'futura-pt',sans-serif;
}
#menu.expanded {
  transform: translateX(0%);
  left: 0px;
}
.menu-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y:scroll;
}

/* Sidebar Scroll */
.menu-inner::-webkit-scrollbar {
width: 1px;
}

/* Track */
.menu-inner::-webkit-scrollbar-track {
background: transparent; 
}

/* Handle */
.menu-inner::-webkit-scrollbar-thumb {
background: transparent;
}

.hamburger {
  right: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 70px;	
}
.hamburger .line {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
}
.hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -2px;
}
.hamburger .line:nth-child(3) {
  bottom: 0;
}

.menu-inner > ul {
  padding: 0;
  list-style: none;
  width: 70%;
  margin-left: 10%;
  position: absolute;
  top: 50px;
  margin-bottom:150px;
}
.menu-inner > ul   li {
  color: #fff;
  font-family: 'futura-pt',sans-serif;
  padding: 15px 0;
  font-size: 16px;
}


@media (max-width:768px){
ul {
  list-style: none;
  padding:0;
}
ul li, label.nomb{
    color:white;
    padding:5px 15px;
}
.navbar{
  height:auto!important;
}

.logOut{
    background-color: #ff3736c4;
    padding: 10px 0;
    padding-left: 45%;
    margin: 10px 0;
    border-radius: 50px;
    font-weight: 600;
}
}

@media (max-width:576px){
  nav > div > ul.mobMenu{
    list-style: none!important;
    background-color: #343a40!important;
  }
  nav > div > ul.mobMenu li, label.nomb{
      color:white!important;
      padding:0 0 0 15px!important;
  }

  .navbar{
    height:auto!important;
  }

  .logOut{
      background-color: #ff3736c4;
      padding: 10px 0!important;
      padding-left: 34%!important;
      margin: 10px 0!important;
      border-radius: 50px!important;
      font-weight: 600!important;
  }
}

.notification, .menu-usr {
display: inline-block;
position: relative;
font-size: 1.3em;
}
.notification-content{
width:252px;
height:250px;
margin-top:6px;
border-radius:none !important;
overflow-y:scroll;
}

::-webkit-scrollbar {
width: 5px;
height: 5px;
}
::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-thumb {
background: #3c3c3c;
border: 0px none #ffffff;
border-radius: 100px;
}

::-webkit-scrollbar-track {
background: #c4c4c4;
border: 0px none #ffffff;
border-radius: 50px;
}

::-webkit-scrollbar-corner {
background: transparent;
}

.notification::before, 
.notification::after,
.menu-usr::before,
.menu-usr::after{
color: #fff;
text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.notification::before,
.menu-usr::before {
display: block;
content: "\f0f3";
font-family: "FontAwesome";
transform-origin: top center;
}
.menu-usr::before {
display: block;
content: "\f142";
font-family: "FontAwesome";
transform-origin: top center;
}
.notification::after {
font-family: Arial;
font-size: 0.7em;
font-weight: 700;
position: absolute;
top: -15px;
right: -15px;
padding: 5px 8px;
line-height: 100%;
border: 2px #fff solid;
border-radius: 60px;
background: #3498db;
opacity: 0;
content: attr(data-count);
opacity: 0;
transform: scale(0.5);
transition: transform, opacity;
transition-duration: 0.3s;
transition-timing-function: ease-out;
}
.notification::before {
animation: ring 1.5s ease;
}
.notification.show-count::after {
transform: scale(1);
opacity: 1;
}

@keyframes ring {
0% {
    transform: rotate(35deg);
}
12.5% {
    transform: rotate(-30deg);
}
25% {
    transform: rotate(25deg);
}
37.5% {
    transform: rotate(-20deg);
}
50% {
    transform: rotate(15deg);
}
62.5% {
    transform: rotate(-10deg);
}
75% {
    transform: rotate(5deg);
}
100% {
    transform: rotate(0deg);
}
}

/* Notificación, contenido */

.notForm{
width:100%;
height:auto;
right: 0;
display:block;
margin: 0px;
border: 1px solid rgb(219, 219, 219);
background-color: rgb(240, 239, 239);
border-radius:3px;
margin-top: -10px;
margin-bottom: 9px;
border-top: 2px solid #d4d4d4;
}

.notFormC{
background-color: #ee171e; 
width:10px;
}

.notFormH5{
padding-bottom:0px!important;
}

.notFormBtn{
float:right;
margin-right: -15px;
}
.notFormBtnM{
color: #fff;
border:none;
margin:0 0 10px 10px;
width:80px;
border-radius:5px;
}
.notFormDdI{
padding:0px!important;
}