@import url("https://use.typekit.net/crh7ebc.css");
@font-face {
    font-family: 'futura-pt', sans-serif;
    src: url("https://use.typekit.net/crh7ebc.css");
}


/************[SVG GOOEY HOVER MENU CONCEPT]************/

#container {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

#main {
    padding: 4% 1.5em;
    max-width: 55em;
    margin: 0 auto;
}

#header {
    padding: 1.5em;
    margin: 0 0 1em 0;
    background-color: #eee;
}


/* #footer {
  padding: 1.5em;
  margin: 2em 0 0 0;
  background-color: #eee;

  } */

hr {
    border: 1px solid #777!important;
}


/* Menu Styles */

.primary-nav {
    position: fixed;
    z-index: 999;
}

.menu {
    position: relative;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.open-panel {
    border: none;
    background-color: #fff;
    padding: 0;
}

.hamburger {
    background: #fff;
    position: relative;
    display: block;
    text-align: center;
    padding: 13px 0;
    width: 50px;
    height: 73px;
    left: 0;
    top: 0;
    z-index: 1000;
    cursor: pointer;
    outline: none;
}


/* .hamburger:focus {
    outline: none;
} */

.hamburger:before {
    content: "\2630";
    /* hamburger icon */
    display: block;
    color: #000;
    line-height: 32px;
    font-size: 16px;
}

.openNav .hamburger:before {
    content: "\2715";
    /* close icon */
    display: block;
    color: #000;
    line-height: 32px;
    font-size: 16px;
}

.hamburger:hover:before {
    color: #777;
}

.primary-nav .menu li {
    position: relative;
}

.menu .icon {
    position: absolute;
    top: 12px;
    right: 10px;
    pointer-events: none;
    width: 24px;
    height: 24px;
    color: #fff;
}

.menu,
.menu a,
.menu a:visited {
    color: #aaa;
    text-decoration: none!important;
    position: relative;
}

.menu a {
    display: block;
    white-space: nowrap;
    padding: .5em 1em;
    font-size: 18px;
    font-weight: 400;
}

.menu a:hover {
    color: #fff;
}

.menu {
    margin-bottom: 3em;
}

.menu-dropdown li .icon {
    color: #777;
}

.menu-dropdown li:hover .icon {
    color: #fff;
}

.menu-dropdown li.lOut:hover .icon {
    color: #ee171e;
}

.menu-dropdown li.nBell:hover .icon {
    color: #eece17;
}

.menu label {
    margin-bottom: 0;
    display: block;
}

.menu label:hover {
    cursor: pointer;
}

.menu input[type="checkbox"] {
    display: block;
    position: inherit;
    float: right;
    opacity: 0;
    transform: translate(0px, -30px);
    width: 100%;
    height: 20px;
}

input#menu[type="checkbox"] {
    display: none;
}

.sub-menu-dropdown {
    display: none;
}

.new-wrapper {
    position: absolute;
    left: 50px;
    width: calc(100% - 50px);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

#menu:checked+ul.menu-dropdown {
    left: 0;
    -webkit-animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
    animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.sub-menu-checkbox:checked+ul.sub-menu-dropdown {
    display: block!important;
    -webkit-animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
    animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.openNav .new-wrapper {
    position: absolute;
    transform: translate3d(200px, 0, 0);
    width: calc(100% - 250px);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.downarrow {
    background: transparent;
    position: absolute;
    right: 50px;
    top: 12px;
    color: #777;
    width: 24px;
    height: 24px;
    text-align: center;
    display: block;
}

.downarrow:hover {
    color: #fff;
}

.menu {
    position: absolute;
    display: block;
    left: -200px;
    top: 0;
    width: 250px;
    transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    background-color: #303030;
    z-index: 999;
}

.menu-dropdown {
    top: 0;
    overflow-y: auto;
}

.overflow-container {
    position: relative;
    /* height: calc(100vh - 73px)!important; */
    height: calc(100vh)!important;
    overflow-y: auto;
    border-top: 73px solid #fff;
    z-index: -1;
    display: block;
}

.menu a.logotype {
    position: absolute!important;
    top: 11px;
    left: 55px;
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
    font-size: 21px;
    padding: 10px;
}

.menu a.logotype span {
    font-weight: 400;
}

.menu a.logotype:hover {
    color: #777;
}

.sub-menu-dropdown {
    background-color: rgb(56, 56, 56);
}

.menu:hover {
    position: absolute;
    left: 0;
    top: 0;
}

.openNav .menu:hover {
    position: absolute;
    left: -200px;
    /* top:73px; */
}

.openNav .menu {
    /* top:73px; */
    transform: translate3d(200px, 0, 0);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}


/* label.hamburger {
          display: none;
      } */


/* look and feel only, not needed for core menu*/

@-webkit-keyframes grow {
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: block;
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: block;
        opacity: 0.5;
    }
    100% {
        opacity: 1
    }
}


/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


/* NOTIFICACIÓN */

.noty-li {
    height: 150px;
    border: 2px solid #303030;
}

.noty-container {
    padding: 0 12px;
    background: #4e4e4e;
    height: 150px;
}

.noty-h5 {
    padding: 5px 0;
    margin: 0;
    color: #e8e8e8;
    font-size: 18px;
}

.noty-p {
    font-size: 16px;
    padding: 5px 0;
}

.noty-btn {
    border-style: none;
    border-radius: 3px;
}

.noty-scroll {
    overflow-y: scroll;
    height: 150px;
    width: 100%;
}

.notiCont {
    background-color: #ff0000;
    font-size: 11px;
    position: absolute;
    padding: 0px;
    top: 2px;
    right: 0;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    color: #fff;
}


/* SCROLL */

 ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #3c3c3c;
    border: 0px none #ffffff;
    border-radius: 100px;
}

 ::-webkit-scrollbar-track {
    background: #c4c4c4;
    border: 0px none #ffffff;
    border-radius: 50px;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}

.hoyDivisa {
    text-align: center;
    width: 92%;
    /* position: absolute; */
    bottom: 83px;
    padding: 0 5px;
    /* display:inline-flex; */
}

.hoyDivContDato {
    display: inline-flex;
}

.hoyDivisaTitulo {
    margin: 0 15px;
    font-size: 15px;
}

.hoyDivisaValor {
    font-size: 16px;
}

.lblUsr {
    white-space: nowrap;
    padding: .5em 1em;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: #ee171e;
    color: #fff;
}

@media (max-width:576px) {
    nav>div>ul {
        list-style: none!important;
        background-color: #343a40!important;
        padding: 0;
    }
    .navbar {
        height: auto!important;
        /* overflow-y: scroll;
        height: 550px; */
    }
    .scrollMm {
        overflow-y: scroll;
        height: 500px;
    }
    .menu {
        left: 0;
    }
    .menu .icon {
        position: inherit;
        float: right;
        transform: translate(-20px, -40px);
    }
    .downarrow {
        position: inherit;
        float: right;
        transform: translate(-20px, -40px);
    }
    .menu input[type="checkbox"] {
        display: block;
        position: inherit;
        float: right;
        opacity: 0;
        transform: translate(0px, -60px);
        width: 100%;
        height: 20px;
    }
    .sub-menu-dropdown {
        background-color: #2b3138;
    }
    .noty-scroll {
        overflow-y: scroll;
        height: 150px;
        width: 100%;
    }
     ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
     ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
     ::-webkit-scrollbar-thumb {
        background: transparent;
        border: 0px none #ffffff;
        border-radius: 100px;
    }
    .noty-scroll::-webkit-scrollbar-track {
        background: transparent;
        border: 0;
        border-radius: 50px;
    }
    .noty-scroll::-webkit-scrollbar-corner {
        background: transparent;
    }
    .lblUsr {
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 700;
    }
}


/* article:last-of-type, p:last-of-type {
      margin-bottom: 0;
  } */