<section id="corredores">
    <div class="container-fluid">
        <div class="col-12 p-20 m-50">
            <h2 class="h2-title">Corredores excepcionales</h2>
            <p class="center">rabajarás siempre con el mismo corredor durante todo el proceso. Desde la primera reunión, las visitas y hasta el cierre.</p>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-3 p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/1.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-3 clearfix d-none d-block p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/2.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-3 clearfix d-none d-block p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/3.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-3 clearfix d-none d-block p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/4.jpg" alt="Card image cap">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3 p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/2.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-3 clearfix d-none d-block p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/3.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-3 clearfix d-none d-block p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/4.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-3 clearfix d-none d-block p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/1.jpg" alt="Card image cap">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3 p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/3.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-3 clearfix d-none d-block p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/4.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-3 clearfix d-none d-block p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/1.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-3 clearfix d-none d-block p-rl">
                            <div class="card">
                                <img class="card-img-top img-fluid img-corredor" src="../../../assets/img/2.jpg" alt="Card image cap">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="center m-20">
            <a href="#" class="btn btn-primaryR btn-home btn-corredor">Conoce a nuestros corredores</a>
            <a href="#" class="btn btn-secondaryR btn-home btn-corredor">Trabaja con nosotros</a>
        </div>

    </div>
</section>