<section id="contacto" class="bg-contacto m-100">
    <h2 class="h2-title">¿Dudas?, Te podemos ayudar!</h2>
    <img src="../../../assets/img/fondoR5.png" alt="" style="width:40px; margin-left:30%;">

    <p class="center">Llena este corto formulario y nos pondremos en contacto contigo lo antes posible.<br> Si ya está listo para agendar su primera reunión, <a href="">haz click aquí.</a></p>

    <form action="" class="m-20">
        <div class="container container-contacto">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" style="width:100%;">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" style="width:100%;">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="mail">Correo</label>
                    <input type="email" name="mail" id="mail" style="width: 100%;">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="fono">Teléfono</label>
                    <input type="tel" name="fono" id="fono" style="width:100%;">
                    <img src="../../../assets/img/fondoR6.png" alt="" style="width:30px; float:right">

                </div>
                <div class="col-12">
                    <p>Quiero...</p>
                    <div class="row radio-group">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><input type="radio" name="ptradio" id="" (click) ="onClickRadio('vender')" class="with-gap"><span>Vender una propiedad</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label><input type="radio" name="ptradio" id="" (click)="onClickRadio('arriendo');" class="with-gap"> <span>Poner en arriendo una propiedad</span> </label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <label> <input type="radio" name="ptradio" id="" (click)="onClickRadio('info');" class="with-gap"> <span>Más información</span> </label>
                        </div>
                    </div>
                </div>
                <!-- LOS DDL SOLO APARECEN EN LAS PRIMERAS 2 OPCIONES DE RADIO, EL TEXTAREA APARECE EN LOS 3 CASOS -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div id="Comuna">
                        <label for="comuna">Comuna*</label><br>
                        <select name="comuna" id="comuna">
                            <option value="0" disabled selected>Seleccione una comuna</option>
                            </select>
                        <br>
                    </div>

                    <div id="Dormitorio">
                        <label for="dormitorio">Cantidad dormitorios*</label><br>
                        <select name="dormitorio" id="dormitorio">
                            <option value="0" disabled selected>Seleccione una opción</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                        </select>
                        <br>
                    </div>

                    <div id="Bano">
                        <label for="bano">Cantidad baños*</label><br>
                        <select name="bano" id="bano">
                            <option value="0" disabled selected>Seleccione una opción</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                        </select>
                        <br>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="msj">¿Comentarios o preguntas?</label><br>
                    <textarea name="msj" id="" cols="40" rows="6" style="width: 100%;"></textarea>
                </div>
                <img src="../../../assets/img/fondoR3.png" alt="" style="width:30px;">

            </div><br>
            <!-- <div class=" col-12 center ">
                <input type="submit " value="Enviar " class="btn btn-danger " (click)="enviar() ">
            </div> -->
        </div>
        <div class="col-12 center ">
            <input type="submit " value="Enviar " class="btn btn-primaryR btn-home " (click)="enviar() ">
        </div>
    </form>

</section>