<section id="home">
    <div class="container-fluid container-home">
        <div class="row">
            <img src="../../../assets/img/FamiFlip-v6.png" alt="" class="img-home">

            <div class="col-12 header-home">
                <h1 class="h1-home">Mejor servicio de corretaje a una baja comisión fija</h1>
                <span class="span-home">
                    <fa-icon [icon]="faCheckCircle"></fa-icon><label class="label-home">Corredores excepcionales</label>
                    <fa-icon [icon]="faCheckCircle"></fa-icon><label class="label-home">Ahorra millones en comisión</label>
                    <fa-icon [icon]="faCheckCircle"></fa-icon><label class="label-home">Tour virtual 3D</label>
                </span>
                <span class="span-home">
                    <a href="#" class="btn btn-primaryR btn-home">Vende o arrienda tu propiedad</a>
                    <a href="#" class="btn btn-secondaryR btn-home">Encuentra tu próximo hogar</a>
                </span>
            </div>
        </div>
    </div>
</section>