<section id="about">
    <div class="container">
        <img src="../../../assets/img/fondoR1.png" alt="" class="img-about">
        <div class="row about-home">
            <div class="col-12">
                <h2 class="h2-title">¿Por qué elegir Redflip?</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card" style="width: auto; border:none;">
                    <img src="../../../assets/img/corredor.png" class="card-img-top" alt="Corredor">
                    <div class="card-body">
                        <h5 class="card-title">Corredores excepcionales</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Mismo corredor</b> durante todo el proceso</li>
                            <li class="list-group-item"><b>Valorización gratis</b> de tu propiedad</li>
                            <li class="list-group-item"><b>Nos encargamos de las visitas</b> y filtramos interesados</li>
                            <li class="list-group-item" style="border-bottom: none!important;"><b>Gestionamos toda la documentación</b>, contratos y firmas legales</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card" style="width: auto; border:none;">
                    <img src="../../../assets/img/ahorro-comision.png" class="card-img-top" alt="Ahorro comisión">
                    <div class="card-body">
                        <h5 class="card-title">Ahorro Redflip</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Baja comisión fija</b> de <b>$2.490.000</b> para compra/venta y <b>$290.000</b> para arriendos. <span style="border-bottom: none!important; color:red; font-size:16px;">IVA incluido.</span></li>
                            <li class="list-group-item"><b>Paga al final</b> del proceso solo si concretamos la operación</li>
                            <li class="list-group-item" style="border-bottom: none!important;"><b>Todos ahorran en comisiones</b> versus corredores tradicionales</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card" style="width: auto; border:none;">
                    <img src="../../../assets/img/tour-vitrual-3d.png" class="card-img-top" alt="Tour Virtual 3D">
                    <div class="card-body">
                        <h5 class="card-title">Tecnología que simplifíca</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Tour Virtual 3D</b> para vender o arrendar antes con menos visitas innecesarias</li>
                            <li class="list-group-item"><b>Planos y Fotos</b> profesionales para resaltar lo mejor de tu propiedad</li>
                            <li class="list-group-item"><b>Cartel</b> personalizado</li>
                            <li class="list-group-item"><b>Publicaciones pagas</b> en principales portales y redes sociales</li>
                            <li class="list-group-item" style="border-bottom: none!important; color:red; font-size:16px;">Todo incluido en la comisión fija, no hay extras</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="banner" class="banner-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 center banner-cont">
                <a href="" class="banner-a">
                    ¿Buscando tu próximo hogar? <br><label class="banner-label">Revisa los beneficios de comprar o arrendar con Redflip <span class="banner-span">aquí</span></label>
                </a>
            </div>
        </div>
    </div>
</section>