a {
    color: #ee171e;
}

li>a.nav-link {
    font-family: 'Poppins', sans-serif;
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 18px;
}

a.nav-link:hover {
    transform: 1s linear;
    font-weight: 500;
}

.active>.nav-link {
    font-weight: 900;
    color: #EE171E;
}

.bg-redflip {
    background-color: #ee171e!important;
    -webkit-box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.45);
}

.sticky-top {
    top: -1px!important;
}

ul>li>a.blanco {
    color: white!important;
}

#logo {
    width: 150px;
}

@media (max-width:992px) {
    #logo {
        width: 100px;
    }
}