<!-- <section>
    <div style="background-color:#2e2e2e;">
        <span style="color:#fff;">Contato <img src="../../../../assets/img/whatsapp-brands.svg" alt="" width="16px"></span>
    </div>
</section> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" (scroll)="onWindowScroll($event);">
    <a class="navbar-brand" href="#">
        <img src="assets/img/Logo-Redflip-Sin-Borde.png" alt="Logo Redflip" id="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Vende o arrienda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Encuentra tu hogar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nuestros corredores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contáctanos</a>
            </li>
        </ul>
    </div>
</nav>