<section id="tv3d" class="p-50 bg-tv3d">
    <div class="container">
        <div class="row">
            <div class="col-12 pb-50">
                <img src="../../../assets/img/fondoR5.png" alt="" width="30px;">
                <h2 class="h2-title">Tecnología para que tu propiedad destaque del resto</h2>
                <p style="text-align: center;">Tecnología para simplificar todo el proceso, y devolverte tiempo.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 trapezoide">
                <img src="../../../assets/img/Hnet-image.gif" alt="" class="img-gif">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h4>Tour Virtual 3D</h4>
                            <p>Con nuestra tecnología de punta generaremos un tour virtual 3D de tu propiedad, exponiéndola mejor hacia los interesados, vendiendo o arrendando más rápido, y evitando visitas innecesarias en persona.</p>
                        </div>
                        <div class="col-12">
                            <h4>Planos 3D y 2D</h4>
                            <p>Para ayudar a que los posibles interesados se imaginen viviendo en el espacio de tu propiedad.</p>
                        </div>
                        <div class="col-12">
                            <h4>Mide espacios</h4>
                            <p>¿Entrará mi cama? ¿El sillón? <a href="">Mide espacios en tiempo real con la regla virtual.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <img src="../../../assets/img/fondoR1.png" alt="" style="width:30px; float:right">
            </div>
            <div class="col-12 center">
                <a href="" class="tv3d-a">Conoce más sobre nuestros <span class="banner-span">Tour Viruales 3D</span></a>
            </div>

        </div>
    </div>
</section>