<section id="calc" class="s-calc">
    <div class="container">
        <div class="row">
            <div class="col-12 p-20">
                <h2 class="h2-title">Calcula cuanto puedes ahorrar al elegir Redflip</h2>
                <p class="center p-sub">Estes vendiendo, comprando o arrendando, siempre pagas una baja comisión fija.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 cent-calc">
                <div class="calconic-calculator" data-calculatorid="5c5c6a2f89ce0e002538bfdd"></div>
                <iframe src="https://app.calconic.com/api/embed/calculator/5c5c6a2f89ce0e002538bfdd" sandbox="allow-same-origin allow-forms allow-scripts allow-top-navigation allow-popups-to-escape-sandbox allow-popups" title="Calconic_ Calculator" name="Calconic_ Calculator"
                    height="500px" scrolling="no" style="width: 100%; border: 0; outline: none;">
                </iframe>
                <script>
                    (function() {
                        window.addEventListener("message", function(t) {
                            var e = "https://www.paypalobjects.com/api/checkout.4.0.141.js";
                            if (!document.querySelector('script[src="' + e + '"]') && t.data && "LOAD_PAYPAL" === t.data.action) {
                                var a = document.createElement("script");
                                a.src = e, a.async = !0, a.dataset = {
                                    paypalCheckout: !0,
                                    noBridge: !0,
                                    state: "ppxo_meta",
                                    env: "production"
                                }, document.body.append(a)
                            }
                            if (t.data && "CALCONIC_UPDATE_HEIGHT" === t.data.action) {
                                var s = documenet.querySelector('iframe[src="https://app.calconic.com/api/embed/calculator/t.data.payload.id"]');
                                if (s) {
                                    s.height = t.data.payload.height
                                }
                            }
                        });
                    })();
                </script>
            </div>
            <div class="col-8 img-calc">
            </div>
        </div>
        <img src="../../../assets/img/fondoR3.png" alt="" style="width:30px; float:right">
    </div>
</section>