<!-- <img src="../../../assets/img/footer.svg" alt=""> -->
<div class="img-footer"></div>
<footer>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 img-logo-w">
                <img src="../../../assets/img/Logo-Redflip-Sin-Borde-blanco.png" alt="" width="250px">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <h4 class="h4-title">Contacto</h4>
                <a href="tel:+56993509559" class="footer-a">+56 9 9350 9559</a><br>
                <a href="mailto:contacto@redflip.com" class="footer-a">contacto@redflip.com</a>
                <h4 class="h4-title">Redes sociales</h4>
                <i href="#" class="rrss-icon fa-2x">
                    <fa-icon [icon]="faFacebookSquare"></fa-icon>
                </i>
                <i href="#" class="rrss-icon fa-2x">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </i>
                <i href="#" class="rrss-icon fa-2x">
                    <fa-icon [icon]="faInstagramSquare"></fa-icon>
                </i>
                <h4 class="h4-title">Con el apoyo de</h4>
                <img src="../../../../assets/img/startup-logo.png" alt="" class="img-logo-spons">
                <img src="../../../../assets/img/corfo-logo.png" alt="" class="img-logo-spons">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <h4 class="h4-title">Buscar por comuna</h4>
                <div class="row">
                    <div class="col-6">
                        <a href="https://redflip.com/area/nunoa/" class="footer-a">Ñuñoa</a><br>
                        <a href="https://redflip.com/area/chicureo/" class="footer-a">Chicureo</a><br>
                        <a href="https://redflip.com/area/la-florida/" class="footer-a">La Florida</a><br>
                        <a href="https://redflip.com/area/la-reina/" class="footer-a">La Reina</a><br>
                        <a href="https://redflip.com/area/las-condes/" class="footer-a">Las Condes</a><br>
                        <a href="https://redflip.com/area/lo-barnechea/" class="footer-a">Lo Barnechea</a><br>
                        <a href="https://redflip.com/area/maipu/" class="footer-a">Maipú</a>

                    </div>
                    <div class="col-6">
                        <a href="https://redflip.com/area/penalolen/" class="footer-a">Peñalolén</a><br>
                        <a href="https://redflip.com/area/providencia/" class="footer-a">Providencia</a><br>
                        <a href="https://redflip.com/area/pucon/" class="footer-a">Pucón</a><br>
                        <a href="https://redflip.com/area/san-miguel/" class="footer-a">San Miguel</a><br>
                        <a href="https://redflip.com/area/santiago/" class="footer-a">Santiago</a><br>
                        <a href="https://redflip.com/area/vitacura/" class="footer-a">Vitacura</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <h4 class="h4-title">Busca por tipo</h4>
                <div class="row">
                    <div class="col-6">
                        <a href="https://redflip.com/area/penalolen/" class="footer-a">Casa</a><br>
                        <a href="https://redflip.com/area/penalolen/" class="footer-a">Comercial</a><br>
                        <a href="https://redflip.com/area/penalolen/" class="footer-a">Departamento</a><br>
                    </div>
                    <div class="col-6">
                        <a href="https://redflip.com/area/penalolen/" class="footer-a">Oficina</a><br>
                        <a href="https://redflip.com/area/penalolen/" class="footer-a">Terreno</a><br>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <h4 class="h4-title">Destacados</h4>
            </div>
        </div>
    </div>

</footer>