<!-- begin subscription_options_screen.tmpl -->

<!-- tmpl_set name="title" value="Membership &#187; Options" -->
<div id="screen_meta" data-menu_highlight="subscription_options"></div>


<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Membership
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Options
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>



<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->


<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form" id="default_form">
    <input type="hidden" name="s_program_url" id="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL -->" >
    <input type="hidden" name="process" value="1" >
    <input type="hidden" name="flavor"       value="subscription_options" >
    
<fieldset> 
	<legend>
	Membership &#187; View
	</legend>



    <div class="row">
        <div class="small-12 columns">
            <label for="list_show_timestamp_col">
                # addresses shown at a time:
            </label>
            <!-- tmpl_var vlsn_menu -->
        </div> 
    </div> 
    <!-- tmpl_if can_have_subscriber_fields --> 
	
        <div class="row">
            <div class="small-12 columns">
                <input type="checkbox" name="view_list_show_timestamp_col" id="view_list_show_timestamp_col" value="1" <!-- tmpl_if list_settings.view_list_show_timestamp_col -->checked="checked"<!--/tmpl_if--> >
                <label for="view_list_show_timestamp_col">
                 Show, &quot;Subscription Date&quot; column
                </label>
            </div> 
        </div>
		
        <div class="row">
            <div class="small-12 columns">
                <input 
					type="checkbox" 
					name="view_list_show_sub_confirm_list" 
					id="view_list_show_sub_confirm_list"
					value="1" 
					<!-- tmpl_if list_settings.view_list_show_sub_confirm_list -->checked="checked"<!--/tmpl_if-->
				>
                <label for="view_list_show_sub_confirm_list">
                 Show, &quot;Unconfirmed Subscribers&quot; sublist
                </label>
            </div> 
        </div>
	    <div class="row">
	        <div class="small-1 columns">
	        </div>	
	        <div class="small-11 columns">
	        <div class="alert-box info radius">
			    The <strong>Unconfirmed Subscribers</strong> sublist are addresses that have submitted their address 
				to subscribe, but haven't yet confirmed via clicking on the confirmation link in the 
				email message they were sent.
			</div>
		    </div> 
	    </div>
		

		
		
		
        <div class="row">
            <div class="small-12 columns">
                 <label for="view_list_order_by">Order Subscribers by:</label>
			 </div>
		</div>
		 
         <div class="row">
             <div class="medium-6 columns">
		 		<!-- tmpl_var view_list_order_by_menu --> 
			</div>
        	 <div class="medium-6 columns">
         		<!-- tmpl_var view_list_order_by_direction_menu -->
     		 </div>
	 	</div> 

    <!-- /tmpl_if --> 

</fieldset>


<fieldset> 
	<legend>
	Membership &#187; Invite/Subscribe/Add
	</legend>
    <div class="row">
        <div class="small-12 columns">
            <label for="use_add_list_import_limit"> 
				<input 
					type="checkbox" 
					name="use_add_list_import_limit" 
					id="use_add_list_import_limit" 
					value="1"
					<!-- tmpl_if list_settings.use_add_list_import_limit -->checked="checked"<!-- /tmpl_if -->
				>
				Limit the number of addresses processed to:
        	</label>
    	</div> 
	</div> 
    <div class="row">
        <div class="small-12 columns">
        <!-- tmpl_var add_list_import_limit_menu -->
	    </div> 
    </div>
	
    <div class="row">
	
    <div class="small-1 columns">
    </div>	
    <div class="small-11 columns">
    <div class="alert-box info radius">
	    The larger the number, the slower the process
	</div>
	</div>	
	
	</div>	
	


</fieldset> 




	
	
<fieldset>
	<legend>Subscribers</legend>

	<!-- tmpl_if SUBSCRIPTION_QUOTA --> 

		<div class="alert-box info radius">
	    	<p>
	     	Currently, there is a Global limit of <!-- tmpl_var commified_subscription_quota --> Subscribers per Mailing List.
	    	</p>
		</div>
	<!-- tmpl_else --> 

		<div class="alert-box info radius">
	     There are no Global Subscription Quotas!
	    </div>
	<!--/tmpl_if--> 

    <div class="row">
        <div class="small-12 columns">
            <input type="checkbox" name="use_subscription_quota" id="use_subscription_quota" value="1" <!-- tmpl_if list_settings.use_subscription_quota -->checked="checked"<!--/tmpl_if--> >
            <label for="use_subscription_quota">
                Limit the number of subscribers to:
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <!-- tmpl_var subscription_quota_menu -->
        </div> 
    </div> 
</fieldset> 

<fieldset>
	<legend>Subscriber Profiles</legend>

    <div class="row">
        <div class="small-12 columns">
            When logged into the mailing list with the <strong>List Password</strong>,
        </div> 
    </div>

    <div class="row">
        <div class="small-12 columns">
            <input 
                type="checkbox" 
                name="allow_profile_editing" 
                id="allow_profile_editing" 
                <!-- tmpl_if list_settings.allow_profile_editing -->checked="checked"<!-- /tmpl_if -->  
                value="1"
             >
            <label for="allow_profile_editing"> 
                Allow Profile field editing
            </label>
        </div> 
    </div> 
    
       <div class="alert-box info radius">
            <p>When enabled, <strong>Advanced Profile Options</strong> will also be available during mass subscribing, including: </p>
                <ul> 
                    <li>Preserving or updating profile information for new subscribers</li> 
                    <li>Importing subscribers with missing and required profile fields</li> 
                    <li>Updating profile Information for subscribers that are already members</li> 
                </ul> 
            </p>
            
                <p>
                    When disabled, the original data will always be <strong>preserved</strong>. 
            </p>
        
            <p>
                <em> 
                    These options are always available when logged in with the 
                    <strong>
                        <!-- tmpl_var PROGRAM_NAME --> Root Password. 
                    </strong> 
                </em>
            </p>
        </div> 
</fieldset> 



<fieldset>
 <legend>
	  List Invitations
 </legend>

      <div class="row">
          <div class="small-12 columns">      
              <input 
                type="checkbox"
                name="invites_check_for_already_invited" 
                id="invites_check_for_already_invited" 
                value="1" 
                <!-- tmpl_if list_settings.invites_check_for_already_invited -->checked="checked"<!--/tmpl_if--> 
               >
              <label for="invites_check_for_already_invited">
               Check for already-invited addresses before sending a list invitation
              </label>
         </div> 
    </div>

    <div class="row">
        <div class="small-12 small-offset-1 columns">      
          <input type="checkbox" name="invites_prohibit_reinvites" id="invites_prohibit_reinvites" value="1" <!-- tmpl_if list_settings.invites_prohibit_reinvites -->checked="checked"<!--/tmpl_if--> >
          <label for="invites_prohibit_reinvites">
              Prohibit re-inviting addresses
          </label>
       </div> 
  </div>
  
    <div class="row">
        <div class="small-12 columns">      
            <input 
              type="checkbox"
              name="invites_show_profile_fields_in_subscription_form" 
              id="invites_show_profile_fields_in_subscription_form" 
              value="1" 
              <!-- tmpl_if list_settings.invites_show_profile_fields_in_subscription_form -->checked="checked"<!--/tmpl_if--> 
             >
            <label for="invites_show_profile_fields_in_subscription_form">
				Show all profile fields in closed (invite only), private mailing list invitation subscription forms
            </label>
			<div class="alert-box info radius">
				By default, profile fields aren't shown to capture information in the subscription form shown when inviting 
				addresses on a mailing list that's BOTH private, and invite-only/closed.
			</div>
       </div> 
  </div>
  
  


</fieldset> 


<fieldset>
 <legend>
	  Black List
 </legend>

<div class="alert-box info radius">

    <p>
		The Black List is primarily used to make sure that Subscribers that have been unsubscribed are not inadvertently re-subscribed.
	</p>

    <p>
		You may add both complete email addresses  (you@example.com) or 
     parts of email addresses (example.com).
 
 </p>

    <p>
    	Parts of email addresses will match whole addresses. For example, &quot;example.com&quot; will match, &quot;you@example.com&quot; and, &quot;someone.else@example.com&quot;
    </p>

    <p>
    	The Black List is primarily used to make sure that Subscribers that have been unsubscribed are not inadvertently re-subscribed. 
    </p>
</div> 

<div class="row">
    <div class="small-12 columns">
	      <input type="checkbox" name="black_list" id="black_list" value="1" <!-- tmpl_if list_settings.black_list -->checked="checked"<!--/tmpl_if--> >
	      <label for="black_list">
	      Activate Black List
	      </label>
	 </div> 
</div> 
<div class="row">
      <div class="small-12 small-offset-1 columns">
          <input type="checkbox" 
            name="add_unsubs_to_black_list" 
            id="add_unsubs_to_black_list" 
            value="1" 
            <!-- tmpl_if list_settings.add_unsubs_to_black_list -->checked="checked"<!--/tmpl_if-->
           >
          <label for="add_unsubs_to_black_list">
           Move addresses to the Black List after they are unsubscribed
          </label>    
      </div>
  </div> 
  <div class="row">
      <div class="small-12 small-offset-1 columns">
          <input 
            type="checkbox" 
            name="allow_blacklisted_to_subscribe" 
            id="allow_blacklisted_to_subscribe" 
            value="1" 
            <!-- tmpl_if list_settings.allow_blacklisted_to_subscribe -->checked="checked"<!--/tmpl_if-->
           >
          <label for="allow_blacklisted_to_subscribe">
           Continue to allow black listed addresses to subscribe themselves
          </label>
      </div> 
    </div> 
    <!-- tmpl_if ENFORCE_CLOSED_LOOP_OPT_IN --> 
        <!-- ... --> 
    <!-- tmpl_else --> 
        <div class="row">         
          <div class="small-12 small-offset-1 columns">
                <input 
                    type="checkbox" 
                    name="allow_admin_to_subscribe_blacklisted" 
                    id="allow_admin_to_subscribe_blacklisted" 
                    value="1" 
                    <!-- tmpl_if list_settings.allow_admin_to_subscribe_blacklisted -->checked="checked"<!--/tmpl_if-->
                 >
                <label for="allow_admin_to_subscribe_blacklisted">
                Continue to allow black listed addresses to be invited/subscribed via the list control panel
                <br >
                Black listed addresses will just need to be manually checked/selected to be invited/subscribed
            </div> 
        </div> 
    <!-- /tmpl_if -->
    
  
  
       



			
</fieldset>



<fieldset>
	 <legend>
      White List
	 </legend>
	
	<div class="alert-box info radius">
	
        <p>
        	The White List is a list of email addresses only allowed to be a part of your Subscribers List.</p>	
        	<p>You may add both complete email addresses (you@example.com) or 
        	 parts of email addresses (example.com).</p>

        <p>
        	Parts of email addresses will match whole addresses. For example, &quot;example.com&quot; will match, &quot;you@example.com&quot; and, &quot;someone.else@example.com&quot;
        </p>
    </div> 
    
	<div class="row">
          <div class="small-12 columns">
    	      <input type="checkbox" name="enable_white_list" id="enable_white_list" value="1" <!-- tmpl_if list_settings.enable_white_list -->checked="checked"<!--/tmpl_if--> >
    	      <label for="enable_white_list">
    	          Activate White List
    	      </label>
	     </div> 
	</div> 
</fieldset> 

	<!-- tmpl_include common_save_list_settings_buttons_widget.tmpl -->

</form> 

 


<!-- end subscription_options_screen.tmpl -->
