/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Catamaran:100|Lato|Poppins&display=swap');
@import '~animate.css/animate.min';
@font-face {
    src: url('https://fonts.googleapis.com/css?family=Catamaran:100|Lato|Poppins&display=swap');
    font-family: 'Poppins', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Lato', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.p-50 {
    padding: 50px 0;
}

.p-20 {
    padding: 20px 0;
}

.m-20 {
    margin: 20px 0;
}

.m-50 {
    margin: 50px 0;
}

.m-100 {
    margin: 100px 0
}

.pb-50 {
    padding-bottom: 50px;
}

.center {
    text-align: center;
}

.h2-title {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

a,
a:hover,
a:active {
    color: #ee171e;
    text-decoration: none;
}

.p-sub {
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 20px;
}


/* HOME */

.container-home {
    position: relative;
    display: inline-block;
}

@media (min-width:992px) {
    .img-home {
        width: 100%;
    }
}

.header-home {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.h1-home {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    width: 70%;
    float: right;
    text-transform: uppercase;
}

@media (min-width:992px) {
    .span-home {
        font-size: 24px;
        font-family: 'Catamaran', sans-serif;
        font-weight: 900;
        width: 70%;
        float: right;
        margin: 15px 0;
    }
}

.label-home {
    margin-right: 5%;
}

.fa-check-circle {
    color: #ee171e;
    width: 18px;
    height: 18px;
}

.btn-home {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0px 20px 0px 0px;
    padding: 5px 40px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
}

.btn-primaryR {
    background-color: #ee171e;
    color: #fff;
}

.btn-primaryR:hover {
    background-color: #da151b;
    color: #fff;
}

.btn-secondaryR {
    background-color: rgb(211, 211, 211);
}

.btn-secondaryR:hover {
    background-color: #c2c2c2;
}


/* ABOUT */

.img-about {
    width: 30px;
    z-index: 9999;
    top: 10%;
    left: 10%;
    transform: translate(50%, 0%);
}

.card-title {
    text-align: center;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding-bottom: 10px;
    ;
}

.list-group-item {
    border: none;
    background-color: transparent;
    border-bottom: 2px dashed rgb(110, 195, 190)!important;
    text-align: center;
    font-size: 18px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
}


/* BANNER */

.banner-img {
    background-image: url(assets/img/banner7.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
}

.banner-cont {
    margin-top: 80px;
}

.banner-a {
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    cursor: context-menu;
}

.banner-a:hover {
    color: black;
}

.banner-label {
    cursor: pointer;
}

.banner-span {
    color: #ee171e;
    text-decoration: underline;
}


/* CALCULADORA */

.s-calc {
    /* background-color: #e0e0e0; */
    margin-top: -6px;
    margin-bottom: -20px;
}

.img-calc {
    background-image: url(assets/img/happyFamily.jpg);
    background-repeat: no-repeat;
    background-size: 86.5%;
}


/* @media (min-width:1200px) {
    .img-calc {
        background-size: 99%;
    }
} */


/* TV3D */

.bg-tv3d {
    background-image: url(assets/img/how_it_works__wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    margin-top: 50px;
}

.tv3d-a {
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin: 50px 0;
}

.trapezoide {
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    transform: skewY(-4deg);
    margin-top: 30px;
}

.img-gif {
    margin: 0 30px 0 0;
    width: 100%;
    -webkit-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.45);
}

@media(max-width:992px) {
    .trapezoide {
        transform: none;
    }
    .img-gif {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        margin-top: -50px;
    }
}


/* CONTACTO */

.container-contacto {
    width: 100%;
}

@media (min-width:992px) {
    .container-contacto {
        width: 800px;
    }
}

.radio-group {
    margin-bottom: 10px;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="radio"]:not(:checked)+span,
[type="radio"]:checked+span {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after {
    border: 2px solid #5a5a5a;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
}

[type="radio"]+span:before,
[type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

[type="radio"]:not(:checked)+span:after {
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after {
    border: 2px solid #5a5a5a;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
}

[type="radio"]+span:before,
[type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #ee171e;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
}

[type="radio"].with-gap:checked+span:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #ee171e;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #ee171e;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
}

[type="radio"]:checked+span:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

[type="radio"]+span:before,
[type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    border: none;
    border-bottom: 2px solid rgba(155, 155, 155, 1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #ee171e;
    transition: all 0.5s ease;
}

select#comuna,
select#dormitorio,
select#bano {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid rgba(155, 155, 155);
}

select#comuna:focus,
select#dormitorio:focus,
select#bano:focus {
    border-color: #ee171e;
    transition: all 0.5s ease;
    outline: 0;
}


/* FOOTER */

footer {
    background-color: #434343;
    margin-top: -10px;
    padding-bottom: 50px;
}

.h4-title {
    color: #ee171e;
    margin: 10px 0;
}

.footer-a {
    color: white;
    font-family: 'Poppins', sans-serif;
    ;
}

.rrss-icon {
    margin: 10px;
}

.footer-a:hover {
    color: #ee171e;
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.img-footer {
    background-image: url(assets/img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.img-logo-spons {
    width: 30%;
}


/* RESPONSIVE */

@media (max-width:768px) {
    .img-home {
        width: 100%;
    }
    .header-home {
        top: 70%;
    }
    .h1-home {
        font-size: 16px;
    }
    .span-home>.label-home {
        display: none;
    }
    .span-home>a {
        margin: 5px 0;
        margin-left: 30%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn-home {
        font-size: 12px;
        width: 210px;
    }
    .h2-title {
        font-size: 20px;
    }
    .card-img-top {
        width: 70%;
        margin: 0 auto;
    }
    .card-title {
        font-size: 18px;
    }
    .list-group-item {
        font-size: 16px;
    }
    .banner-cont {
        margin-top: 80px;
    }
    .banner-img {
        background-image: url(assets/img/banner8.svg);
    }
    .banner-a {
        font-size: 14px;
        ;
    }
    .cent-calc {
        margin: 0 auto;
    }
    .img-calc {
        display: none;
    }
    .img-corredor {
        width: 100%;
    }
    .p-rl {
        padding-right: 10px!important;
        padding-left: 10px!important;
    }
    .btn-corredor {
        width: 90%!important;
        margin: 5px 0;
    }
    .img-footer {
        height: 100px;
    }
    .img-logo-spons {
        width: 50%;
    }
    .img-logo-w {
        text-align: center;
    }
}